openapi: 3.0.0

# Server specificatie
servers:
  - description: LVBAG - ACCEPTATIE
    url: https://api.bag.acceptatie.kadaster.nl/lvbag/individuelebevragingen/v2
  - description: LVBAG - PRODUCTIE
    url: https://api.bag.kadaster.nl/lvbag/individuelebevragingen/v2

# API specificatie - algemeen
info:
  title: BAG API Individuele Bevragingen - van de LVBAG
  description: >-
    Dit is de [BAG API](https://zakelijk.kadaster.nl/-/bag-api) Individuele Bevragingen van de Landelijke Voorziening Basisregistratie Adressen en Gebouwen (LVBAG). 
    <br/>
    Meer informatie over de Basisregistratie Adressen en Gebouwen is te vinden op de website van het [Ministerie van Binnenlandse Zaken en Koninkrijksrelaties](https://www.geobasisregistraties.nl/basisregistraties/adressen-en-gebouwen) en [Kadaster](https://zakelijk.kadaster.nl/bag).
    <br/>
    <br/>
    De BAG API levert informatie conform de [BAG Catalogus 2018](https://www.geobasisregistraties.nl/documenten/publicatie/2018/03/12/catalogus-2018) en het informatiemodel IMBAG 2.0.
    De API specificatie volgt de [Nederlandse API-Strategie](https://docs.geostandaarden.nl/api/API-Strategie) specificatie versie van 20200204 en is opgesteld in [OpenAPI Specificatie](https://www.forumstandaardisatie.nl/standaard/openapi-specification) (OAS) v3. 
    <br/>
    Het standaard mediatype HAL (`application/hal+json`) wordt gebruikt. Dit is een mediatype voor het weergeven van resources en hun relaties via hyperlinks.
    <br/>
    <br/>
    Deze API is vooral gericht op individuele bevragingen (op basis van de identificerende gegevens van een object).
    Om gebruik te kunnen maken van de BAG API is een API key nodig, deze kan verkregen worden door het [aanvraagformulier](https://formulieren.kadaster.nl/aanvragen_bag_api_key_productieomgeving) in te vullen.
    <br/>
    <br/>
    Voor vragen, neem contact op met de LVBAG beheerder o.v.v. BAG API 2.0. We zijn aan het kijken naar een geschikt medium hiervoor, mede ook om de API iteratief te kunnen opstellen of doorontwikkelen samen met de community. Als de API iets (nog) niet kan, wat u wel graag wilt, neem dan contact op.

  # Gebruikte versienotatie: x.y.z voor major, minor en patch releases. 
  # De major versie komt overeen met de major versie in de api-info.yaml.
  version: '2.0.0'
  termsOfService: https://zakelijk.kadaster.nl/algemene-voorwaarden
  contact:
    name: Kadaster - Beheerder LVBAG
    url: https://zakelijk.kadaster.nl/bag
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/

security:
  - apiKeyBAG: []
  # Alle requests verwachten een (BAG) API key (niet per operation of end-point verschillend)
  # Voor definitie van benoemde 'apiKeyBAG', zie security-schemes onderin.

#+Functionele toelichting bij de operations/end-points als documentatie indeling.
tags:
  -
    name: Adresgegevens
    description: 'Dit endpoint levert één of meer (voorkomens van) adres(sen), met embedded resources en links.'

paths:

  # Zoek adresgegevens
  /adresgegevens:
    get:
      security:
        - apiKeyBAG: []
      operationId: zoekAdresgegevens
      tags:
        - Adresgegevens
      summary: Bevragen 1 adres op basis van verschillende combinaties van parameters.
      description: >-
        De volgende (combinaties van) parameters worden ondersteund:
        <ol>
        <li>Bevragen/raadplegen één adres, via de identificatie van een nummeraanduiding.
           Geleverd worden adresgegevens bestaande uit een selectie van informatie uit woonplaats, openbare ruimte, nummeraanduiding, adresseerbare objecten en bronhouder informatie.
           Parameter nummeraanduidingIdentificatie bevat de 16 cijferige identificatie van een nummeraanduiding object.</li>
        <li>Bevragen/raadplegen van adresgegevens via postcode en huisnummer.
           Geleverd wordt een lijst van adresgegevens bestaande uit een selectie van informatie uit woonplaats, openbare ruimte, nummeraanduiding, adresseerbare objecten en bronhouder informatie.
           Parameter postcode bevat de postcode van een nummeraanduiding object.
           Parameter huisnummer bevat het huisnummer van hetzelfde nummeraanduiding object.
           Parameter huisnummertoevoeging (optioneel) bevat de huisnummertoevoeging van hetzelfde nummeraanduiding object.
           Parameter huisletter (optioneel) bevat de huisletter van een nummeraanduiding object.
           Het opgeven van alleen een postcode en huisnummer levert mogelijk meerdere nummeraanduidingen op (bv. bij 3, 3A en 3B in dezelfde straat).
           Met de exacteMatch parameter kan worden aangegeven dat alleen het object dat exact overeenkomt met de opgegeven parameters, geretourneerd moet worden.
           Het opgeven van exacteMatch is geen garantie dat er maar 1 object wordt geretourneerd.
           Bv. bij een straat met huisnummers 3, 3A en 3Abis, 3B en 3Bbis, als er wordt gezocht met huisnummer 3 en toevoeging 'bis' en exacteMatch=true zijn er meerdere resultaten.
           Deze worden alle geretourneerd.</li>
        <li>Bevragen/raadplegen van adresgegevens, via de identificatie van een adresseerbaar object identificatie.
           Geleverd worden adresgegevens bestaande uit een selectie van informatie uit woonplaats, openbare ruimte, nummeraanduiding, adresseerbare objecten en bronhouder informatie.
           Parameter adresseerbaarObjectIdentificatie bevat de 16 cijferige identificatie van een ligplaats, standplaats of verblijfsobject.</li>
        <li>Bevragen/raadplegen van adresgegevens via woonplaats naam, openbare ruimte naam, huisnummer en optioneel huisnummertoevoeging en huisletter.
           Geleverd wordt een lijst van adresgegevens bestaande uit een selectie van informatie uit woonplaats, openbare ruimte, nummeraanduiding, adresseerbare objecten en bronhouder informatie.
           Het opgeven van alleen een postcode en huisnummer levert niet altijd een exacte match met één nummeraanduiding object in geval van huisnummertoevoegingen en huisletters.
           Als er geen huisnummertoevoegingen of huisletters van toepassing zijn op de objecten of als de huisnummertoevoeging en huisletter worden opgegeven bij objecten waar deze van toepasing zijn,
           dan wordt er in de lijst één object geretourneerd.
           Parameter woonplaatsNaam bevat de naam van een woonplaats object.
           Parameter openbareRuimteNaam bevat de naam van een openbare ruimte object.
           Parameter huisnummer bevat het huisnummer van hetzelfde nummeraanduiding object.
           Parameter huisnummertoevoeging (optioneel) bevat de huisnummertoevoeging van hetzelfde nummeraanduiding object.
           Parameter huisletter (optioneel) bevat de huisletter van een nummeraanduiding object.
           Het opgeven van alleen een postcode en huisnummer levert mogelijk meerdere nummeraanduidingen op (bv. bij 3, 3A en 3B in dezelfde straat).
           Met de exacteMatch parameter kan worden aangegeven dat alleen het object dat exact overeenkomt met de opgegeven parameters, geretourneerd moet worden.
           Het opgeven van exacteMatch is geen garantie dat er maar 1 object wordt geretourneerd.
           Bv. bij een straat met huisnummers 3, 3A en 3Abis, 3B en 3Bbis, als er wordt gezocht met huisnummer 3 en toevoeging 'bis' en exacteMatch=true zijn er meerdere resultaten.
           Deze worden alle geretourneerd.</li>
        </ol>
        Bij alle bovenstaande combinaties kunnen eveneens de volgende parameters worden gebruikt:<br/>
        Als expand=heeftAlsHoofdAdres dan wordt de nummeraanduiding van het hoofdadres als geneste resource geleverd.<br/>
        Als expand=heeftAlsNevenAdres dan worden de nummeraanduidingen van de nevenadressen als geneste resources geleverd.<br/>
        Als expand=ligtInWoonplaats dan wordt de woonplaats als geneste resource geleverd.<br/>
        Als expand=ligtAanOpenbareRuimte dan wordt de openbare ruimte als geneste resource geleverd.<br/>
        Als expand=true dan worden alle gerelateerde objecten als geneste resources geleverd.<br/>
      parameters:
        - $ref: '#/components/parameters/nummeraanduidingIdentificatie'
        - $ref: '#/components/parameters/postcode'
        - $ref: '#/components/parameters/huisnummer'
        - $ref: '#/components/parameters/huisnummertoevoeging'
        - $ref: '#/components/parameters/huisletter'
        - $ref: '#/components/parameters/exacteMatch'
        - $ref: '#/components/parameters/adresseerbaarObjectIdentificatie'
        - $ref: '#/components/parameters/woonplaatsNaam'
        - $ref: '#/components/parameters/openbareRuimteNaam'
        - $ref: '../../../../generiek/parameters.yaml#/expand'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'

      # Antwoord zoekAdresgegevens
      responses:
        '200':
          description: Bevraging zoekAdresgegevens geslaagd
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
            Content-Crs:
              $ref: '../../../../generiek/headers.yaml#/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresgegevensHalCollection'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '405':
          $ref: '../../../../generiek/responses.yaml#/405'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        '503':
          $ref: '../../../../generiek/responses.yaml#/503'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

components:

  securitySchemes:
    apiKeyBAG:
      type: apiKey
      name: X-Api-Key
      in: header
      description: >
        De API-key die je hebt gekregen dient bij elke request via de
        `X-Api-Key` request header meegestuurd te worden. Indien deze
        niet juist wordt meegestuurd, of het een ongeldige key betreft,
        zul je de foutmelding `403 Forbidden` terugkrijgen.

  parameters:
    # Opsomming van path parameters - /{...} - specificatie bij operation zelf.

    # Opsomming van request parameters - ?='...' parameters (by name) - specificatie bij operation zelf.
    nummeraanduidingIdentificatie:
      description: Identificatie van een object uit de BAG. Deze is 4 lang bij een woonplaats en 16 lang bij de andere objecten.
      name: nummeraanduidingIdentificatie
      in: query
      required: false
      schema:
        type: string
        pattern: '^[0-9]{4}20[0-9]{10}$'
        example: '0226200000038923'

    adresseerbaarObjectIdentificatie:
      description: Identificatie van een object uit de BAG. Deze is 4 lang bij een woonplaats en 16 lang bij de andere objecten.
      name: adresseerbaarObjectIdentificatie
      in: query
      required: false
      schema:
        title: identificatie van adresseerbaar object
        type: string
        pattern: '^[0-9]{4}(01|02|03)[0-9]{10}$'
        example: '0226010000038820'

    postcode:
      description: Postcode behorende bij een nummeraanduiding.
      name: postcode
      in: query
      required: false
      schema:
        type: string
        pattern: '^[1-9]{1}[0-9]{3}[A-Z]{2}$'
        example: '6922KZ'

    huisnummer:
      description: Huisnummer behorende bij een nummeraanduiding.
      name: huisnummer
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 99999
        example: '1'

    huisnummertoevoeging:
      description: Huisnummertoevoeging behorende bij een nummeraanduiding.
      name: huisnummertoevoeging
      in: query
      required: false
      schema:
        type: string
        pattern: '^[0-9a-zA-Z]{1,4}$'
        example: 'bis'

    huisletter:
      description: Huisletter behorende bij een nummeraanduiding.
      name: huisletter
      in: query
      required: false
      schema:
        type: string
        pattern: '^[a-zA-Z]{1}$'
        example: 'A'

    exacteMatch:
      description: >-
        "Een indicatie of de resultaten van een zoekoperatie exact overeen moeten komen met de zoekcriteria, zie [functionele specificatie exacte match](https://github.com/lvbag/BAG-API/blob/master/Features/exacte_match.feature)."
      name: exacteMatch
      in: query
      required: false
      schema:
        type: boolean
        example: 'true'
        default: false

    woonplaatsNaam:
      description: Naam van een woonplaats.
      name: woonplaatsNaam
      in: query
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: '^[\u0020-\u007E;\u00A0-\u00FF;\u0100-\u0113;\u0116-\u012B;\u012E-\u014D;\u0150-\u017E;\u02C7;\u02D8-\u02DB;\u02DD;\u2015;\u2018-\u2019;\u201C-\u201D;\u20AC;\u2122;\u2126;\u215B-\u215E;\u2190-\u2193;\u266A;]*'
        example: 'Duiven'

    openbareRuimteNaam:
      description: Naam van een openbare ruimte.
      name: openbareRuimteNaam
      in: query
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: '^[\u0020-\u007E;\u00A0-\u00FF;\u0100-\u0113;\u0116-\u012B;\u012E-\u014D;\u0150-\u017E;\u02C7;\u02D8-\u02DB;\u02DD;\u2015;\u2018-\u2019;\u201C-\u201D;\u20AC;\u2122;\u2126;\u215B-\u215E;\u2190-\u2193;\u266A;]*'
        example: 'Laan van de landinrichtingscommissie Duiven-Westervoort'

  schemas:

    AdresgegevensHal:
      title: AdresgegevensHal
      description: >-
        "Een adres is een verzameling van informatie uit adresseerbare objecten, gerelateerde nummeraanduidingen
        (hoofd- en nevenadres(sen)), aan de nummeraanduiding gerelateerde openbare ruimte en (indien aanwezig)
        de aan de nummeraanduiding gerelateerde woonplaats en indien deze niet beschikbaar is, de aan de openbare
        ruimte gerelateerde woonplaats. Waarbij alleen 'huidige' object voorkomen informatie wordt geretourneerd,
        dit houdt in: het actuele object voorkomen mits deze geen eind status heeft."
      type: object
      required:
        - woonplaats
        - openbareRuimte
        - nummeraanduiding
        - adresseerbaarObject
        - bronhouders
      properties:
        woonplaats:
          $ref: '#/components/schemas/AdresWoonplaats'
        onderzoekenWoonplaats:
          type: array
          items:
            $ref: '#/components/schemas/AdresKenmerkWoonplaatsInOnderzoek'
          minItems: 1
        openbareRuimte:
          $ref: '#/components/schemas/AdresOpenbareRuimte'
        onderzoekenOpenbareRuimte:
          type: array
          items:
            $ref: '#/components/schemas/AdresKenmerkOpenbareRuimteInOnderzoek'
          minItems: 1
        nummeraanduiding:
          $ref: '#/components/schemas/AdresNummeraanduiding'
        onderzoekenNummeraanduiding:
          type: array
          items:
            $ref: '#/components/schemas/AdresKenmerkNummeraanduidingInOnderzoek'
          minItems: 1
        adresseerbaarObject:
          $ref: '#/components/schemas/AdresAdresseerbaarObjectIO'
        bronhouders:
          type: array
          items:
            $ref: 'resources.yaml#/Bronhouder'
          minItems: 1
        # Gerelateerd objecten als embedded resource. Deze embedded resource is met expand=woonplaatsen op te vragen.
        _embedded:
          $ref: '#/components/schemas/Adresgegevens_embedded'
        # Gerelateerde objecten in de vorm van Links.
        _links:
          $ref: '#/components/schemas/Adresgegevens_links'

    AdresgegevensHalCollection:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            adressen:
              type: array
              items:
                $ref: '#/components/schemas/AdresgegevensHal'
        _links:
          $ref: '../../../../generiek/hallinks.yaml#/components/schemas/HalCollectionLinks'

    # Woonplaats object t.b.v. adres, hierin komen niet alle woonplaats attributen in voor, die volgens IMBAG 2.0 onderdeel uitmaken van een Woonplaats object
    AdresWoonplaats:
      type: object
      title: AdresWoonplaats
      description: Een Woonplaats is een door het bevoegde gemeentelijke orgaan als zodanig aangewezen en van een naam voorzien gedeelte van het grondgebied van de gemeente. Deze variant bevat informatie t.b.v. een adres.
      required:
        - identificatie
        - naam
        - geconstateerd
        - voorkomenIdentificatie
      properties:
        identificatie:
          $ref: '../../../imbag/v20180601/woonplaats.yaml#/WoonplaatsIdentificatie'
          description: 'De identificatie wordt gebruikt in de operation, bv. /woonplaatsen/3560. Waarde: 0001-9999, formaat: ^[0-9]{3}[1-9]\|[0-9]{2}[1-9][0-9]\|[0-9][1-9][0-9]{2}\|[1-9][0-9]{3}$.'
          title: identificatie
          type: string
          pattern: '^[0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]|[0-9][1-9][0-9]{2}|[1-9][0-9]{3}$'
          example: '2096'
        voorkomenIdentificatie:
          description: De identificatie van een voorkomen van object.
          title: voorkomenIdentificatie
          type: integer
          example: '1'
        naam:
          description: De benaming van een door het gemeentebestuur aangewezen woonplaats.
          title: woonplaats naam
          type: string
          minLength: 1
          maxLength: 80
          pattern: '^[\u0020-\u007E;\u00A0-\u00FF;\u0100-\u0113;\u0116-\u012B;\u012E-\u014D;\u0150-\u017E;\u02C7;\u02D8-\u02DB;\u02DD;\u2015;\u2018-\u2019;\u201C-\u201D;\u20AC;\u2122;\u2126;\u215B-\u215E;\u2190-\u2193;\u266A;]*'
          example: 'Duiven'
        geconstateerd:
          $ref: '../../../imbag/v20180601/datatypes.yaml#/Indicatie'

    AdresKenmerkWoonplaatsInOnderzoek:
      title: AdresKenmerkWoonplaatsInOnderzoek
      type: object
      required:
        - kenmerk
      properties:
        kenmerk:
          $ref: '#/components/schemas/AdresInOnderzoekWoonplaats'

    AdresInOnderzoekWoonplaats:
      title: AdresInOnderzoekWoonplaats
      type: string
      enum:
        - 'naam'

    # Openbare ruimte object t.b.v. adres, hierin komen niet alle attributen voor, die volgens IMBAG 2.0 onderdeel uitmaken van een OpenbareRuimte object
    AdresOpenbareRuimte:
      type: object
      title: AdresOpenbareRuimte
      description: 'Een Openbare ruimte is een door het bevoegde gemeentelijke orgaan als zodanig aangewezen en van een naam voorziene buitenruimte die binnen één woonplaats is gelegen.'
      required:
        - identificatie
        - naam
        - korteNaam
        - geconstateerd
        - ligtIn
      properties:
        identificatie:
          $ref: '../../../imbag/v20180601/openbareruimte.yaml#/OpenbareRuimteIdentificatie'
        naam:
          title: openbare ruimte naam
          description: Een naam die aan een openbare ruimte is toegekend in een daartoe strekkend formeel gemeentelijk besluit.
          type: string
          minLength: 1
          maxLength: 80
          example: 'Laan van de landinrichtingscommissie Duiven-Westervoort'
        korteNaam:
          description: 'De officiële openbare ruimte naam als deze niet langer is dan 24 tekens of de volgens de NEN5825 verkorte naam van maximaal 24 tekens.'
          title: korteNaam
          type: string
          minLength: 1
          maxLength: 24
          pattern: '^[\u0020-\u007E;\u00A0-\u00FF;\u0100-\u0113;\u0116-\u012B;\u012E-\u014D;\u0150-\u017E;\u02C7;\u02D8-\u02DB;\u02DD;\u2015;\u2018-\u2019;\u201C-\u201D;\u20AC;\u2122;\u2126;\u215B-\u215E;\u2190-\u2193;\u266A;]*'
          example: 'Ln vd l D-Westervoort'
        geconstateerd:
          $ref: '../../../imbag/v20180601/datatypes.yaml#/Indicatie'
        #Gerelateerd object (eigenaar van het kenmerk c.q. de relatie bevat de identificatie van het gerelateerde object)
        ligtIn:
          description: Een openbare ruimte ligt in een woonplaats.
          $ref: '../../../imbag/v20180601/woonplaats.yaml#/WoonplaatsIdentificatie'

    AdresKenmerkOpenbareRuimteInOnderzoek:
      title: AdresKenmerkOpenbareRuimteInOnderzoek
      type: object
      required:
        - kenmerk
      properties:
        kenmerk:
          $ref: '#/components/schemas/AdresInOnderzoekOpenbareRuimte'

    AdresInOnderzoekOpenbareRuimte:
      title: AdresInOnderzoekOpenbareRuimte
      type: string
      enum:
        - 'naam'
        - 'gerelateerde woonplaats'

    # Nummeraanduiding t.b.v. adres, omdat hierin niet alle nummeraanduiding attributen voorkomen, die volgens IMBAG 2.0 onderdeel uitmaken van een nummeraanduiding
    AdresNummeraanduiding:
      type: object
      title: AdresNummeraanduiding
      description: 'Een Nummeraanduiding (t.b.v. adres) is een door het bevoegde gemeentelijke orgaan als zodanig toegekende aanduiding van een verblijfsobject, een standplaats of een ligplaats.'
      required:
        - identificatie
        - huisnummer
        - typeAdresseerbaarObject
        - geconstateerd
        - ligtAan
      properties:
        identificatie:
          $ref: '../../../imbag/v20180601/nummeraanduiding.yaml#/NummeraanduidingIdentificatie'
        huisnummer:
          description: Een door of namens het gemeentebestuur ten aanzien van een adresseerbaar object toegekende nummering.
          title: huisnummer
          type: integer
          minimum: 1
          maximum: 99999
          example: '1'
        huisletter:
          description: Een door of namens het gemeentebestuur ten aanzien van een adresseerbaar object toegekende toevoeging aan een huisnummer in de vorm van een alfanumeriek teken.
          title: huisletter
          type: string
          pattern: '^[a-zA-Z]{1}$'
          example: 'A'
        huisnummertoevoeging:
          description: Een door of namens het gemeentebestuur ten aanzien van een adresseerbaar object toegekende nadere toevoeging aan een huisnummer of een combinatie van huisnummer en huisletter.
          title: huisnummertoevoeging
          type: string
          pattern: '^[0-9a-zA-Z]{1,4}$'
          example: 'bis'
        postcode:
          title: postcode
          description: De door PostNL vastgestelde code behorende bij een bepaalde combinatie van een straatnaam en een huisnummer.
          type: string
          pattern: '^[1-9]{1}[0-9]{3}[A-Z]{2}$'
          example: '6922KZ'
        typeAdresseerbaarObject:
          $ref: '../../../imbag/v20180601/adresseerbaarobject.yaml#/TypeAdresseerbaarObject'
        geconstateerd:
          $ref: '../../../imbag/v20180601/datatypes.yaml#/Indicatie'
        ligtIn:
          $ref: '../../../imbag/v20180601/woonplaats.yaml#/WoonplaatsIdentificatie'
        ligtAan:
          $ref: '../../../imbag/v20180601/openbareruimte.yaml#/OpenbareRuimteIdentificatie'

    AdresKenmerkNummeraanduidingInOnderzoek:
      title: AdresKenmerkNummeraanduidingInOnderzoek
      type: object
      required:
        - kenmerk
      properties:
        kenmerk:
          $ref: '#/components/schemas/AdresInOnderzoekNummeraanduiding'

    AdresInOnderzoekNummeraanduiding:
      title: AdresInOnderzoekNummeraanduiding
      type: string
      enum:
        - 'huisnummer'
        - 'huisletter'
        - 'huisnummertoevoeging'
        - 'postcode'
        - 'type adresseerbaar object'
        - 'ligt in'
        - 'ligt aan'

    AdresAdresseerbaarObjectIO:
      title: AdresAdresseerbaarObjectIO
      oneOf:
        - $ref: '#/components/schemas/AdresLigplaatsIO'
        - $ref: '#/components/schemas/AdresStandplaatsIO'
        - $ref: '#/components/schemas/AdresVerblijfsobjectIO'

    # Ligplaats t.b.v. adres, omdat hierin niet alle Ligplaats attributen voorkomen, die volgens IMBAG 2.0 onderdeel uitmaken van een ligplaats
    AdresLigplaatsIO:
      title: AdresLigplaatsIO
      allOf:
        - $ref: '../../../imbag/v20180601/adresseerbaarobject.yaml#/AdresseerbaarObject'
        - type: object
          required:
            - ligplaats
          properties:
            ligplaats:
              $ref: '#/components/schemas/AdresLigplaats'
            onderzoekenLigplaats:
              type: array
              items:
                $ref: '#/components/schemas/AdresKenmerkLigplaatsInOnderzoek'
              minItems: 1

    AdresLigplaats:
      type: object
      title: AdresLigplaats
      required:
        - identificatie
        - voorkomenIdentificatie
        - geometrie
        - geconstateerd
      properties:
        identificatie:
          $ref: '../../../imbag/v20180601/ligplaats.yaml#/LigplaatsIdentificatie'
        voorkomenIdentificatie:
          description: De identificatie van een voorkomen van object.
          title: voorkomenIdentificatie
          type: integer
          example: '1'
        geometrie:
          $ref: '../../../../geometrie/geometrie.yaml#/components/schemas/Surface'
        geconstateerd:
          $ref: '../../../imbag/v20180601/datatypes.yaml#/Indicatie'

    AdresKenmerkLigplaatsInOnderzoek:
      title: AdresKenmerkLigplaatsInOnderzoek
      type: object
      required:
        - kenmerk
      properties:
        kenmerk:
          $ref: '#/components/schemas/AdresInOnderzoekLigplaats'

    AdresInOnderzoekLigplaats:
      title: InOnderzoekLigplaats
      type: string
      enum:
        - 'geometrie'

    # Standplaats t.b.v. adres, omdat hierin niet alle Standplaats attributen voorkomen, die volgens IMBAG 2.0 onderdeel uitmaken van een standplaats
    AdresStandplaatsIO:
      title: AdresStandplaatsIO
      allOf:
        - $ref: '../../../imbag/v20180601/adresseerbaarobject.yaml#/AdresseerbaarObject'
        - type: object
          required:
            - standplaats
          properties:
            standplaats:
              $ref: '#/components/schemas/AdresStandplaats'
            onderzoekenStandplaats:
              type: array
              items:
                $ref: '#/components/schemas/AdresKenmerkStandplaatsInOnderzoek'
              minItems: 1

    AdresStandplaats:
      type: object
      title: AdresStandplaats
      required:
        - identificatie
        - voorkomenIdentificatie
        - geometrie
        - geconstateerd
      properties:
        identificatie:
          $ref: '../../../imbag/v20180601/ligplaats.yaml#/LigplaatsIdentificatie'
        voorkomenIdentificatie:
          description: De identificatie van een voorkomen van object.
          title: voorkomenIdentificatie
          type: integer
          example: '1'
        geometrie:
          $ref: '../../../../geometrie/geometrie.yaml#/components/schemas/Surface'
        geconstateerd:
          $ref: '../../../imbag/v20180601/datatypes.yaml#/Indicatie'

    AdresKenmerkStandplaatsInOnderzoek:
      title: AdresKenmerkStandplaatsInOnderzoek
      type: object
      required:
        - kenmerk
      properties:
        kenmerk:
          $ref: '#/components/schemas/AdresInOnderzoekStandplaats'

    AdresInOnderzoekStandplaats:
      title: AdresInOnderzoekStandplaats
      type: string
      enum:
        - 'geometrie'

    # Verblijfsobject t.b.v. adres, omdat hierin niet alle verblijfsobject attributen voorkomen, die volgens IMBAG 2.0 onderdeel uitmaken van een verblijfsobject
    AdresVerblijfsobjectIO:
      title: AdresVerblijfsobjectIO
      allOf:
        - $ref: '../../../imbag/v20180601/adresseerbaarobject.yaml#/AdresseerbaarObject'
        - type: object
          required:
            - verblijfsobject
          properties:
            verblijfsobject:
              $ref: '#/components/schemas/AdresVerblijfsobject'
            onderzoekenVerblijfsObject:
              type: array
              items:
                $ref: '#/components/schemas/AdresKenmerkVerblijfsobjectInOnderzoek'
              minItems: 1

    AdresVerblijfsobject:
      type: object
      title: AdresVerblijfsobject
      required:
        - identificatie
        - voorkomenIdentificatie
        - geometrie
        - gebruiksdoelen
        - oppervlakte
        - geconstateerd
      properties:
        identificatie:
          $ref: '../../../imbag/v20180601/verblijfsobject.yaml#/VerblijfsobjectIdentificatie'
        voorkomenIdentificatie:
          description: De identificatie van een voorkomen van object.
          title: voorkomenIdentificatie
          type: integer
          example: '1'
        geometrie:
          $ref: '../../../imbag/v20180601/geometrie.yaml#/components/schemas/PuntOfVlak'
        gebruiksdoelen:
          type: array
          items:
            $ref: '../../../imbag/v20180601/verblijfsobject.yaml#/Gebruiksdoel'
          minItems: 1
        oppervlakte:
          title: oppervlakte
          type: integer
          pattern: '^[1-9][0-9]{0,5}$'
        geconstateerd:
          $ref: '../../../imbag/v20180601/datatypes.yaml#/Indicatie'

    AdresKenmerkVerblijfsobjectInOnderzoek:
      title: AdresKenmerkVerblijfsobjectInOnderzoek
      type: object
      required:
        - kenmerk
      properties:
        kenmerk:
          $ref: '#/components/schemas/AdresInOnderzoekVerblijfsobject'

    AdresInOnderzoekVerblijfsobject:
      title: AdresInOnderzoekVerblijfsobject
      type: string
      enum:
        - 'geometrie'
        - 'gebruiksdoel'
        - 'oppervlakte'

    Adresgegevens_embedded:
      type: object
      properties:
        ligtInWoonplaats:
          $ref: 'resources.yaml#/WoonplaatsIOHal'
        ligtAanOpenbareRuimte:
          $ref: 'resources.yaml#/OpenbareRuimteIOHal'
        heeftAlsHoofdAdres:
          $ref: 'resources.yaml#/NummeraanduidingIOHal'
        heeftAlsNevenAdres:
          type: array
          items:
            $ref: 'resources.yaml#/NummeraanduidingIOHal'
          minItems: 1

    Adresgegevens_links:
      type: object
      required:
        - self
      properties:
        self:
          $ref: '../../../../generiek/hallinks.yaml#/components/schemas/HalLink'
        ligtInWoonplaats:
          description: De gerelateerde woonplaats. 1 voorkomen van een openbare ruimte ligt altijd in 1 woonplaats.
          $ref: '../../../../generiek/hallinks.yaml#/components/schemas/HalLink'
        ligtAanOpenbareRuimte:
          description: 'De gerelateerde openbare ruimte waaraan een nummeraanduiding ligt. Van elk gerelateerde openbare ruimte object: hiervan het voorkomen van de openbare ruimte, dat gevonden wordt op basis van dezelfde tijdreisparameters als waarmee het nummeraanduiding voorkomen gevonden is.'
          $ref: '../../../../generiek/hallinks.yaml#/components/schemas/HalLink'
        heeftAlsHoofdAdres:
          description: 'De nummeraanduiding die dit adresseerbaar object als hoofdadres heeft. Van deze gerelateerde nummeraanduiding: hiervan het voorkomen van de nummeraanduiding, dat gevonden wordt op basis van dezelfde tijdreisparameters als waarmee het adresseerbare object voorkomen gevonden is.'
          $ref: '../../../../generiek/hallinks.yaml#/components/schemas/HalLink'
        heeftAlsNevenAdres:
          title: heeftAlsNevenAdres
          description: 'De nummeraanduidingen die dit adresseerbaar object als nevenadressen heeft. Van deze gerelateerde nummeraanduiding: hiervan het voorkomen van de nummeraanduiding, dat gevonden wordt op basis van dezelfde tijdreisparameters als waarmee het adresseerbare object voorkomen gevonden is.'
          type: array
          items:
            $ref: '../../../../generiek/hallinks.yaml#/components/schemas/HalLink'
          minItems: 1
