openapi: 3.0.0

# Server specificatie
servers:
  - description: LVBAG - ACCEPTATIE
    url: https://api.bag.acceptatie.kadaster.nl/lvbag/individuelebevragingen/v2
  - description: LVBAG - PRODUCTIE
    url: https://api.bag.kadaster.nl/lvbag/individuelebevragingen/v2

# API specificatie - algemeen
info:
  title: BAG API Individuele Bevragingen - van de LVBAG
  description: >-
    Dit is de [BAG API](https://zakelijk.kadaster.nl/-/bag-api) Individuele Bevragingen van de Landelijke Voorziening Basisregistratie Adressen en Gebouwen (LVBAG). 
    <br/>
    Meer informatie over de Basisregistratie Adressen en Gebouwen is te vinden op de website van het [Ministerie van Binnenlandse Zaken en Koninkrijksrelaties](https://www.geobasisregistraties.nl/basisregistraties/adressen-en-gebouwen) en [Kadaster](https://zakelijk.kadaster.nl/bag).
    <br/>
    <br/>
    De BAG API levert informatie conform de [BAG Catalogus 2018](https://www.geobasisregistraties.nl/documenten/publicatie/2018/03/12/catalogus-2018) en het informatiemodel IMBAG 2.0.
    De API specificatie volgt de [Nederlandse API-Strategie](https://docs.geostandaarden.nl/api/API-Strategie) specificatie versie van 20200204 en is opgesteld in [OpenAPI Specificatie](https://www.forumstandaardisatie.nl/standaard/openapi-specification) (OAS) v3. 
    <br/>
    Het standaard mediatype HAL (`application/hal+json`) wordt gebruikt. Dit is een mediatype voor het weergeven van resources en hun relaties via hyperlinks.
    <br/>
    <br/>
    Deze API is vooral gericht op individuele bevragingen (op basis van de identificerende gegevens van een object).
    Om gebruik te kunnen maken van de BAG API is een API key nodig, deze kan verkregen worden door het [aanvraagformulier](https://formulieren.kadaster.nl/aanvragen_bag_api_key_productieomgeving) in te vullen.
    <br/>
    <br/>
    Voor vragen, neem contact op met de LVBAG beheerder o.v.v. BAG API 2.0. We zijn aan het kijken naar een geschikt medium hiervoor, mede ook om de API iteratief te kunnen opstellen of doorontwikkelen samen met de community. Als de API iets (nog) niet kan, wat u wel graag wilt, neem dan contact op.

  # Gebruikte versienotatie: x.y.z voor major, minor en patch releases. 
  # De major versie komt overeen met de major versie in de api-info.yaml.
  version: '2.0.0'
  termsOfService: https://zakelijk.kadaster.nl/algemene-voorwaarden
  contact:
    name: Kadaster - Beheerder LVBAG
    url: https://zakelijk.kadaster.nl/bag
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/

security:
  - apiKeyBAG: []
  # Alle requests verwachten een (BAG) API key (niet per operation of end-point verschillend)
  # Voor definitie van benoemde 'apiKeyBAG', zie security-schemes onderin.

#+Functionele toelichting bij de operations/end-points als documentatie indeling.
tags:
  -
    name: Adresseerbaar object
    description: 'Dit endpoint levert één of meer (voorkomens van) adresseerbare objecten met embedded resources en links.'

paths:

  # Bevragen adresseerbaar object
  /adresseerbareobjecten/{adresseerbaarObjectIdentificatie}:
    get:
      security:
        - apiKeyBAG: []
      operationId: bevragenAdresseerbaarObject
      tags:
        - Adresseerbaar object
      summary: Bevragen van één adresseerbaar object met een adresseerbaar object identificatie.
      description: >-
        Bevragen van één adresseerbaar object (ligplaats, standplaats of verblijfsobject) met de identificatie van een adresseerbaar object.
        Als geldigOp en/of beschikbaarOp niet wordt opgegeven, worden de actuele gegevens geleverd. 
        Als expand=heeftAlsHoofdAdres, heeftAlsNevenAdres, maaktDeelUitVan (of een combinatie daarvan) of als expand=true, dan worden de gevraagde of alle gerelateerde resources als geneste resource geleverd.
      parameters:
        - $ref: '#/components/parameters/adresseerbaarObjectIdentificatie'
        - $ref: '#/components/parameters/geldigOp'
        - $ref: '#/components/parameters/beschikbaarOp'
        - $ref: '../../../../generiek/parameters.yaml#/expand'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'

      # Antwoord bevragenAdresseerbaarObject
      responses:
        '200':
          description: 'Bevraging bevragenAdresseerbaarObject geslaagd geslaagd. Ondanks dat er in de example een voorbeeld van alle mogelijke adresseerbare objecten (ligplaats, standplaats of verblijfspobject) staat, wordt er altijd slechts één van deze objecten geretourneerd.'
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
          content:
            application/hal+json:
              schema:
                $ref: './resources.yaml#/AdresseerbaarObjectIOHal'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '404':
          $ref: '../../../../generiek/responses.yaml#/404'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        '503':
          $ref: '../../../../generiek/responses.yaml#/503'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

  # Bevragen adresseerbaar object levenscyclus
  /adresseerbareobjecten/{adresseerbaarObjectIdentificatie}/lvc:
    get:
      security:
        - apiKeyBAG: []
      operationId: bevragenAdresseerbaarObjectLvc
      tags:
        - Adresseerbaar object
      summary: Bevragen van de levenscyclus van een adresseerbaar object met een adresseerbaar object identificatie.
      description: >-
        Bevragen van de levenscyclus van een adresseerbaar object (ligplaats, standplaats of verblijfsobject) met de identificatie van een adresseerbaar object.
        Met de geheleLvc parameter kan worden aangegeven of de gehele levenscyclus (inclusief voorkomens die uit de geldige levenscyclus zijn verwijderd) of alleen de actieve levenscyclus (alleen de voorkomens die onderdeel zijn van de geldige levenscyclus) gewenst zijn. 
      parameters:
        - $ref: '#/components/parameters/adresseerbaarObjectIdentificatie'
        - $ref: '#/components/parameters/geheleLvc'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'

      # Antwoord bevragenAdresseerbaarObjectLvc
      responses:
        '200':
          description: 'Bevraging bevragenAdresseerbaarObjectLvc geslaagd geslaagd. Ondanks dat er in de example een voorbeeld van alle mogelijke adresseerbare objecten (ligplaats, standplaats of verblijfspobject) staat, wordt er altijd slechts één van deze objecten geretourneerd.'
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresseerbaarObjectLvcIOHalCollection'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '404':
          $ref: '../../../../generiek/responses.yaml#/404'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        '503':
          $ref: '../../../../generiek/responses.yaml#/503'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

  # Zoek adresseerbaar object
  /adresseerbareobjecten:
    get:
      security:
        - apiKeyBAG: []
      operationId: zoekAdresseerbaarObject
      tags:
        - Adresseerbaar object
      summary: Bevragen van één of meer adresseerbare objecten op basis van een nummeraanduiding identificatie.
      description: >-
        Bevragen/zoeken van alle aan een nummeraanduiding identificatie gerelateerde adresseerbare objecten (ligplaats, standplaats of verblijfsobject).
        Parameter huidig kan worden toegepast.
        Als geldigOp en/of beschikbaarOp niet wordt opgegeven, worden de actuele gegevens geleverd. 
        Als expand=heeftAlsHoofdAdres, heeftAlsNevenAdres, maaktDeelUitVan (of een combinatie daarvan) of als expand=true, dan wordt gevraagde of alle gerelateerde resources als geneste resource geleverd.
      parameters:
        - $ref: '#/components/parameters/nummeraanduidingIdentificatie'
        - $ref: '#/components/parameters/huidig'
        - $ref: '#/components/parameters/geldigOp'
        - $ref: '#/components/parameters/beschikbaarOp'
        - $ref: '../../../../generiek/parameters.yaml#/expand'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'

      # Antwoord zoekAdresseerbaarObject
      responses:
        '200':
          description: 'Bevraging zoekAdresseerbaarObject geslaagd. Ondanks dat er in de example een voorbeeld van alle mogelijke adresseerbare objecten (ligplaats, standplaats of verblijfspobject) staat, wordt er altijd slechts één van deze objecten geretourneerd.' 
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresseerbareObjectenIOHalCollection'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        '503':
          $ref: '../../../../generiek/responses.yaml#/503'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

components:

  securitySchemes:
    apiKeyBAG:
      type: apiKey
      name: X-Api-Key
      in: header
      description: >
        De API-key die je hebt gekregen dient bij elke request via de
        `X-Api-Key` request header meegestuurd te worden. Indien deze
        niet juist wordt meegestuurd, of het een ongeldige key betreft,
        zul je de foutmelding `403 Forbidden` terugkrijgen.

  parameters:
    # Opsomming van path parameters - /{...} - specificatie bij operation zelf.
    adresseerbaarObjectIdentificatie:
      description: Identificatie van een object uit de BAG. Deze is 4 lang bij een woonplaats en 16 lang bij de andere objecten.
      name: adresseerbaarObjectIdentificatie
      in: path
      required: true
      schema:
        title: identificatie van adresseerbaar object
        type: string
        pattern: '^[0-9]{4}(01|02|03)[0-9]{10}$'
        example: '0226010000038820'

    # Opsomming van request parameters - ?='...' parameters (by name) - specificatie bij operation zelf.
    nummeraanduidingIdentificatie:
      description: Identificatie van een object uit de BAG. Deze is 4 lang bij een woonplaats en 16 lang bij de andere objecten.
      name: nummeraanduidingIdentificatie
      in: query
      required: false
      schema:
        type: string
        pattern: '^[0-9]{4}20[0-9]{10}$'
        example: '0226200000038923'

    huidig:
      description: Indicatie dat alleen actuele object voorkomens zonder eindstatus gewenst zijn.
      name: huidig
      in: query
      required: false
      schema:
        type: boolean
        default: false
        example: false

    geldigOp:
      description: >
        Filtert op objecten die geldig zijn op de opgegeven datum 'YYYY-MM-DD'
        Deze parameters komen uit de API strategie, het hoofdstuk [tijdreizen](https://docs.geostandaarden.nl/api/API-Strategie/#tijdreizen)
      name: geldigOp
      in: query
      required: false
      schema:
        type: string
        format: date
      example: '2019-06-01'

    beschikbaarOp:
      description: >
        Filtert op objecten die beschikbaar zijn gekomen op de opgegeven datum en tijd `YYYY-MM-DDThh:mm:ss.sss'.
        Hierin kunnen de seconden ':ss' en milliseconden '.sss' of alleen de milliseconden conform ISO 8601 specificatie worden weggelaten, in dat geval krijgen deze automatisch de waarde ':00' respectievelijk '.000'.
        Indien er voor de milliseconden '.sss' meer dan 3 cijfers worden opgegeven, bv. '.12345', dan wordt dit afgekapt tot '.123'.
        Deze parameters komen uit de API strategie, het hoofdstuk [tijdreizen](https://docs.geostandaarden.nl/api/API-Strategie/#tijdreizen)
      name: beschikbaarOp
      in: query
      required: false
      schema:
        type: string
        format: date-time
        example: '2019-06-01T12:00:00.000'

    geheleLvc:
      description: >
        Filtert naast geldige voorkomens ook de voorkomens die uit de geldige levenscyclus van het object zijn verwijderd.
        Als deze parameter wordt weggelaten worden alleen geldige voorkomens geretourneerd (default is false).
      name: geheleLvc
      in: query
      required: false
      schema:
        type: boolean
        default: false
        example: 'true'

  schemas:

    AdresseerbareObjectenIOHalCollection:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            adresseerbareObjecten:
              type: array
              items:
                $ref: './resources.yaml#/AdresseerbaarObjectIOHal'
        _links:
          $ref: '../../../../generiek/hallinks.yaml#/components/schemas/HalCollectionLinks'

    AdresseerbaarObjectLvcIOHalCollection:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            voorkomens:
              type: array
              items:
                $ref: './resources.yaml#/AdresseerbaarObjectIOHal'
              minItems: 1
        _links:
          $ref: '../../../../generiek/hallinks.yaml#/components/schemas/HalCollectionLinks'
          