openapi: 3.0.0

# Server specificatie 
servers:
  - description: LVBAG - ACCEPTATIE
    url: https://api.bag.acceptatie.kadaster.nl/lvbag/individuelebevragingen/v2
  - description: LVBAG - PRODUCTIE
    url: https://api.bag.kadaster.nl/lvbag/individuelebevragingen/v2
    
# API specificatie - algemeen
info:
  title: BAG API Individuele Bevragingen - van de LVBAG
  description: >-
    Dit is de [BAG API](https://zakelijk.kadaster.nl/-/bag-api) Individuele Bevragingen van de Landelijke Voorziening Basisregistratie Adressen en Gebouwen (LVBAG). 
    <br/>
    Meer informatie over de Basisregistratie Adressen en Gebouwen is te vinden op de website van het [Ministerie van Binnenlandse Zaken en Koninkrijksrelaties](https://www.geobasisregistraties.nl/basisregistraties/adressen-en-gebouwen) en [Kadaster](https://zakelijk.kadaster.nl/bag).
    <br/>
    <br/>
    De BAG API levert informatie conform de [BAG Catalogus 2018](https://www.geobasisregistraties.nl/documenten/publicatie/2018/03/12/catalogus-2018) en het informatiemodel IMBAG 2.0.
    De API specificatie volgt de [Nederlandse API-Strategie](https://docs.geostandaarden.nl/api/API-Strategie) specificatie versie van 20200204 en is opgesteld in [OpenAPI Specificatie](https://www.forumstandaardisatie.nl/standaard/openapi-specification) (OAS) v3. 
    <br/>
    Het standaard mediatype HAL (`application/hal+json`) wordt gebruikt. Dit is een mediatype voor het weergeven van resources en hun relaties via hyperlinks.
    <br/>
    <br/>
    Deze API is vooral gericht op individuele bevragingen (op basis van de identificerende gegevens van een object).
    Om gebruik te kunnen maken van de BAG API is een API key nodig, deze kan verkregen worden door het [aanvraagformulier](https://formulieren.kadaster.nl/aanvragen_bag_api_key_productieomgeving) in te vullen.
    <br/>
    <br/>
    Voor vragen, neem contact op met de LVBAG beheerder o.v.v. BAG API 2.0. We zijn aan het kijken naar een geschikt medium hiervoor, mede ook om de API iteratief te kunnen opstellen of doorontwikkelen samen met de community. Als de API iets (nog) niet kan, wat u wel graag wilt, neem dan contact op.

  # Gebruikte versienotatie: x.y.z voor major, minor en patch releases. 
  # De major versie komt overeen met de major versie in de api-info.yaml.
  version: '2.0.0'
  termsOfService: https://zakelijk.kadaster.nl/algemene-voorwaarden
  contact:
    name: Kadaster - Beheerder LVBAG
    url: https://zakelijk.kadaster.nl/bag
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/

security:
  - apiKeyBAG: []
  # Alle requests verwachten een (BAG) API key (niet per operation of end-point verschillend)
  # Voor definitie van benoemde 'apiKeyBAG', zie security-schemes onderin. 

#+Functionele toelichting bij de operations/end-points als documentatie indeling. 
tags:
  - 
    name: Objectrelaties
    description: Dit endpoint levert de identificaties van aan elkaar gerelateerde objecten, bekeken tegen de afhankelijksheidrichting in. Bv. de verblijfsobjecten die zijn gerelateerd aan een specifiek pand.

paths:

  # Zoek objectrelaties
  /objectrelaties:
    get:
      security:
        - apiKeyBAG: []
      operationId: zoekObjectrelaties
      tags: 
        - Objectrelaties
      summary: bevragen alle gerelateerde objecten op basis van diverse combinaties van parameters. 
      description: >-
        "De volgende (combinaties van) parameters worden ondersteund:<br/>
        <ol>
        <li>Bevragen/raadplegen alle gerelateerde objecten via de identificatie van een nummeraanduiding. 
           Geleverd worden adresseerbaar object, nummeraanduidingen (hoofd- en indien aanwezig nevenadressen), openbare ruimte, woonplaats en i.g.v. een verblijfsobject gerelateerde pand(en). 
           Parameter nummeraanduidingIdentificatie bevat de 16 cijferige identificatie van een nummeraanduiding object.</li>
        <li>Bevragen/raadplegen van alle objecten gerelateerd aan postcode en huisnummer. 
           Geleverd worden adresseerbaar object, nummeraanduidingen (hoofd- en indien aanwezig nevenadressen), openbare ruimte, woonplaats, bronhouder en i.g.v. een verblijfsobject gerelateerde pand(en). 
           Parameter postcode bevat de postcode van een nummeraanduiding object.
           Parameter huisnummer bevat het huisnummer van hetzelfde nummeraanduiding object.
           Parameter huisnummertoevoeging (optioneel) bevat de huisnummertoevoeging van hetzelfde nummeraanduiding object.
           Parameter huisletter (optioneel) bevat de huisletter van een nummeraanduiding object.
           Het opgeven van alleen een postcode en huisnummer levert mogelijk meerdere nummeraanduidingen op (bv. bij 3, 3A en 3B in dezelfde straat). 
           Met de exacteMatch parameter kan worden aangegeven dat alleen het object dat exact overeenkomt met de opgegeven parameters, geretourneerd moet worden.
           Het opgeven van exacteMatch is geen garantie dat er maar 1 object wordt geretourneerd. 
           Bv. bij een straat met huisnummers 3, 3A en 3Abis, 3B en 3Bbis, als er wordt gezocht met huisnummer 3 en toevoeging 'bis' en exacteMatch=true zijn er meerdere resultaten.
           Deze worden alle geretourneerd.</li>
        <li>Bevragen/raadplegen alle gerelateerde objecten via adresseerbaar object ID. 
           Geleverd worden adresseerbaar object, nummeraanduidingen (hoofd- en indien aanwezig nevenadressen), openbare ruimte, woonplaats, bronhouder en i.g.v. een verblijfsobject gerelateerde pand(en). 
           Parameter adresseerbaarobjectIdentificatie bevat de 16 cijferige identificatie van een ligplaats, standplaats of verblijfsobject.</li>
        <li>Bevragen/raadplegen alle gerelateerde objecten via woonplaats naam, openbare ruimte naam en huisnummer. 
           Geleverd worden adresseerbaar object, nummeraanduidingen (hoofd- en indien aanwezig nevenadressen), openbare ruimte, woonplaats, bronhouder en i.g.v. een verblijfsobject gerelateerde pand(en). 
           Parameter woonplaatsNaam bevat de woonplaats naam.
           Parameter openbareRuimteNaam bevat de openbare ruimte naam.
           Parameter bevat het huisnummer van een nummeraanduiding.</li>
        </ol>
        Bij alle bovenstaande combinaties kunnen eveneens de volgende parameters worden gebruikt:<br/>
        Als geldigOp en/of beschikbaarOp niet wordt opgegeven, worden de actuele gegevens geleverd.<br/> 
        Als expand=true dan worden alle gerelateerde objecten als geneste resources geleverd.<br/>"
      parameters: 
        - $ref: '#/components/parameters/nummeraanduidingIdentificatie'
        - $ref: '#/components/parameters/postcode'
        - $ref: '#/components/parameters/huisnummer'
        - $ref: '#/components/parameters/huisnummertoevoeging'
        - $ref: '#/components/parameters/huisletter'
        - $ref: '#/components/parameters/adresseerbaarobjectIdentificatie'
        - $ref: '#/components/parameters/woonplaatsNaam'
        - $ref: '#/components/parameters/openbareRuimteNaam'
        - $ref: '#/components/parameters/geldigOp'
        - $ref: '#/components/parameters/beschikbaarOp'
        - $ref: '#/components/parameters/exacteMatch'
        - $ref: '../../../../generiek/parameters.yaml#/expand'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'
      
      # Antwoord zoekObjectrelaties
      responses:
        '200':
          description: Bevraging zoekObjectrelaties geslaagd
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
            Content-Crs:
              $ref: '../../../../generiek/headers.yaml#/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: './resources.yaml#/ObjectrelatiesHalCollection'
        '204':
          $ref: '../../../../generiek/responses.yaml#/204'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '404':
          $ref: '../../../../generiek/responses.yaml#/404'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '410':
          $ref: '../../../../generiek/responses.yaml#/410'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '415':
          $ref: '../../../../generiek/responses.yaml#/415'
        '422':
          $ref: '../../../../generiek/responses.yaml#/422'
        '429':
          $ref: '../../../../generiek/responses.yaml#/429'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

  # Vraag objectrelaties levenscyclus
  /objectrelaties/lvc:
    get:
      security:
        - apiKeyBAG: []
      operationId: zoekObjectrelatiesLvc
      tags: 
        - Objectrelaties
      summary: bevragen van de levenscyclus van alle gerelateerde objecten op basis van verschillende combinaties van parameters. 
      description: >-
        "De volgende (combinaties van) parameters worden ondersteund:<br/>
        <ol>
        <li>Bevragen/raadplegen van de levenscyclus van alle gerelateerde objecten via de identificatie van een nummeraanduiding. 
           Geleverd worden adresseerbaar object, nummeraanduidingen (hoofd- en indien aanwezig nevenadressen), openbare ruimte, woonplaats, bronhouder en i.g.v. een verblijfsobject gerelateerde pand(en). 
           Parameter nummeraanduidingIdentificatie bevat de 16 cijferige identificatie van een nummeraanduiding object.</li>
        <li>Bevragen/raadplegen van de levenscyclus van alle objecten gerelateerd aan postcode en huisnummer. 
           Geleverd worden adresseerbaar object, nummeraanduidingen (hoofd- en indien aanwezig nevenadressen), openbare ruimte, woonplaats, bronhouder en i.g.v. een verblijfsobject gerelateerde pand(en). 
           Parameter postcode bevat de postcode van een nummeraanduiding object.
           Parameter huisnummer bevat het huisnummer van hetzelfde nummeraanduiding object.
           Parameter huisnummertoevoeging (optioneel) bevat de huisnummertoevoeging van hetzelfde nummeraanduiding object.
           Parameter huisletter (optioneel) bevat de huisletter van een nummeraanduiding object.
           Het opgeven van alleen een postcode en huisnummer levert mogelijk meerdere nummeraanduidingen op (bv. bij 3, 3A en 3B in dezelfde straat). 
           Met de exacteMatch parameter kan worden aangegeven dat alleen het object dat exact overeenkomt met de opgegeven parameters, geretourneerd moet worden.
           Het opgeven van exacteMatch is geen garantie dat er maar 1 object wordt geretourneerd. 
           Bv. bij een straat met huisnummers 3, 3A en 3Abis, 3B en 3Bbis, als er wordt gezocht met huisnummer 3 en toevoeging 'bis' en exacteMatch=true zijn er meerdere resultaten.
           Deze worden alle geretourneerd.</li>
        <li>Bevragen/raadplegen levenscyclus van alle gerelateerde objecten via adresseerbaar object ID. 
           Geleverd worden adresseerbaar object, nummeraanduidingen (hoofd- en indien aanwezig nevenadressen), openbare ruimte, woonplaats, bronhouder en i.g.v. een verblijfsobject gerelateerde pand(en). 
           Parameter adresseerbaarobjectIdentificatie bevat de 16 cijferige identificatie van een ligplaats, standplaats of verblijfsobject.</li>
        </ol>
        Bij alle bovenstaande combinaties kunnen eveneens de volgende parameters worden gebruikt:<br/>
        Parameter geheleLvc bevat een indicatie dat de gehele levenscyclus (inclusief voorkomens die uit de geldige levenscyclus zijn verwijderd) zijn gewenst. Als deze parameter wordt weggelaten (default) wordt alleen de geldige levenscyclus geretourneerd.<br/> 
        Als expand=true dan worden alle gerelateerde objecten als geneste resources geleverd.<br/>"
      parameters: 
        - $ref: '#/components/parameters/nummeraanduidingIdentificatie'
        - $ref: '#/components/parameters/adresseerbaarobjectIdentificatie'
        - $ref: '#/components/parameters/postcode'
        - $ref: '#/components/parameters/huisnummer'
        - $ref: '#/components/parameters/huisnummertoevoeging'
        - $ref: '#/components/parameters/huisletter'
        - $ref: '#/components/parameters/geheleLvc'
        - $ref: '#/components/parameters/exacteMatch'
        - $ref: '../../../../generiek/parameters.yaml#/expand'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'
      
      # Antwoord zoekObjectrelatiesLvc
      responses:
        '200':
          description: zoekObjectrelatiesLvc geslaagd
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
            Content-Crs:
              $ref: '../../../../generiek/headers.yaml#/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: './resources.yaml#/ObjectrelatiesLvcHalCollection'
        '204':
          $ref: '../../../../generiek/responses.yaml#/204'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '404':
          $ref: '../../../../generiek/responses.yaml#/404'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '410':
          $ref: '../../../../generiek/responses.yaml#/410'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '415':
          $ref: '../../../../generiek/responses.yaml#/415'
        '422':
          $ref: '../../../../generiek/responses.yaml#/422'
        '429':
          $ref: '../../../../generiek/responses.yaml#/429'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

components:

  securitySchemes:
    apiKeyBAG: 
      type: apiKey
      name: X-Api-Key
      in: header
      description: >
        De API-key die je hebt gekregen dient bij elke request via de 
        `X-Api-Key` request header meegestuurd te worden. Indien deze 
        niet juist wordt meegestuurd, of het een ongeldige key betreft, 
        zul je de foutmelding `403 Forbidden` terugkrijgen.

  parameters:
  
    #Opsomming van request parameters - ?='...' parameters (by name) - specificatie bij operation zelf. 
    nummeraanduidingIdentificatie:
      description: Identificatie van een object uit de BAG. Deze is 4 lang bij een woonplaats en 16 lang bij de andere objecten. 
      name: nummeraanduidingIdentificatie
      in: query
      required: false
      schema:
        type: string
        pattern: '^[0-9]{4}20[0-9]{10}$'
        example: '0226200000038923'

    adresseerbaarobjectIdentificatie:
      description: Identificatie van een object uit de BAG. Deze is 4 lang bij een woonplaats en 16 lang bij de andere objecten. 
      name: adresseerbaarobjectIdentificatie
      in: query
      required: false
      schema:
        title: identificatie van adresseerbaar object
        type: string
        pattern: '^[0-9]{4}(01|02|03)[0-9]{10}$'
        example: '0226010000038820'

    woonplaatsNaam:
      description: Naam van een woonplaats. 
      name: woonplaatsNaam
      in: query
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: '^[\u0020-\u007E;\u00A0-\u00FF;\u0100-\u0113;\u0116-\u012B;\u012E-\u014D;\u0150-\u017E;\u02C7;\u02D8-\u02DB;\u02DD;\u2015;\u2018-\u2019;\u201C-\u201D;\u20AC;\u2122;\u2126;\u215B-\u215E;\u2190-\u2193;\u266A;]*'
        example: 'Duiven'

    openbareRuimteNaam:
      description: Naam van een openbare ruimte. 
      name: openbareRuimteNaam
      in: query
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: '^[\u0020-\u007E;\u00A0-\u00FF;\u0100-\u0113;\u0116-\u012B;\u012E-\u014D;\u0150-\u017E;\u02C7;\u02D8-\u02DB;\u02DD;\u2015;\u2018-\u2019;\u201C-\u201D;\u20AC;\u2122;\u2126;\u215B-\u215E;\u2190-\u2193;\u266A;]*'
        example: 'Laan van de landinrichtingscommissie Duiven-Westervoort' 

    postcode:
      description: Postcode behorende bij een nummeraanduiding. 
      name: postcode
      in: query
      required: false
      schema:
        type: string
        pattern: '^[1-9]{1}[0-9]{3}[A-Z]{2}$'
        example: '6922KZ'

    huisnummer:
      description: Huisnummer behorende bij een nummeraanduiding. 
      name: huisnummer
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 99999
        example: '1'

    huisnummertoevoeging:
      description: Huisnummertoevoeging behorende bij een nummeraanduiding. 
      name: huisnummertoevoeging
      in: query
      required: false
      schema:
        type: string
        pattern: '^[0-9a-zA-Z]{1,4}$'
        example: 'bis'

    huisletter:
      description: Huisletter behorende bij een nummeraanduiding. 
      name: huisletter
      in: query
      required: false
      schema:
        type: string
        pattern: '^[a-zA-Z]{1}$'
        example: 'A'

    geldigOp:
      name: geldigOp
      in: query
      example: '2019-04-01'
      required: false
      description: > 
        Filtert op objecten die geldig zijn op de opgegeven datum `JJJJ-MM-DD`
        Deze parameters komen uit de API strategie, het hoofdstuk tijdreizen. 
      schema:
        type: string
        format: date

    beschikbaarOp:
      name: beschikbaarOp
      in: query
      required: false
      description: >
        Filtert op objecten die beschikbaar zijn gekomen op de opgegeven datum en tijd `YYYY-MM-DDThh:mm:ss.sss' 
        Hierin kunnen de seconden ':ss' en milliseconden '.sss' of alleen de milliseconden confrom ISO 8601 specificatie worden weggelaten, in dat geval krijgen deze automatisch de waarde ':00' respectievelijk '.000'.
        Indien er voor de milliseconden '.sss' meer dan 3 cijfers worden opgegeven, bv. '.12345', dan wordt dit afgekapt tot '.123'. 
        Deze parameters komen uit de API strategie, het hoofdstuk [tijdreizen](https://docs.geostandaarden.nl/api/API-Strategie/#tijdreizen)
      schema:
        type: string
        format: date-time 
        example: '2019-06-01T12:00:00.000'
        
    exacteMatch:
      description: >-
        "Indicatie of de nummeraanduiding gegevens een exacte match moeten opleveren. 
        Dit houdt in, dat als de zoek opdracht met de opgegeven parameters meerdere resultaten oplevert, 
        alleen het resultaat dat exact overeenkomt met deze parameters wordt geretourneerd. 
        Bv. gevraagd wordt postcode: 1234AA en huisnummer: 3, geen huisletter en geen huisnummertoevoeging. 
        Gegeven een straat met postcode 1234AA en huisnummer 3, 3A en 3B, levert als resultaten alle 3 de adressen op.
        Wordt exacteMatch=true opgegeven, dan wordt alleen nummeraanduiding met postcode 1234AA en huisnummer 3 geretourneeerd.
        Als er ondanks dat exacteMatch=true is opgegeven nog steeds meerdere zoekresultaten zijn, dan wordt toch een foutmelding geretourneerd.
        Bv. gevraagd wordt postcode 1234AA, huisnummer 3 en toevoeging bis en geen huisletter.
        Gegeven een straat met postcode 1234AA en huisnummers 3, 3A en 3Abis, 3B en 3Bbis, levert als resultaten 3Abis en 3Bbis op.
        Wordt exacteMatch=true opgegeven, dan blijven beide resultaten over. 
        Ook wanneer er geen objecten zijn gevonden wordt een foutmelding geretourneerd.   
        De default waarde is false." 
      name: exacteMatch
      in: query
      required: false
      schema:
        type: boolean
        default: false
        example: 'true'

    geheleLvc:
      description: >
        Filtert naast geldige voorkomens ook de voorkomens die uit de geldige levenscyclus van het object zijn verwijderd.
        Als deze parameter wordt weggelaten worden alleen geldige voorkomens geretourneerd (default is false).
      name: geheleLvc
      in: query
      required: false
      schema:
        type: boolean
        default: false
        example: 'true'
