openapi: 3.0.0

# Server specificatie
servers:
  - description: LVBAG - ACCEPTATIE
    url: https://api.bag.acceptatie.kadaster.nl/lvbag/individuelebevragingen/v2
  - description: LVBAG - PRODUCTIE
    url: https://api.bag.kadaster.nl/lvbag/individuelebevragingen/v2

# API specificatie - algemeen
info:
  title: BAG API Individuele Bevragingen - van de LVBAG
  description: >-
    Dit is de [BAG API](https://zakelijk.kadaster.nl/-/bag-api) Individuele Bevragingen van de Landelijke Voorziening Basisregistratie Adressen en Gebouwen (LVBAG). 
    <br/>
    Meer informatie over de Basisregistratie Adressen en Gebouwen is te vinden op de website van het [Ministerie van Binnenlandse Zaken en Koninkrijksrelaties](https://www.geobasisregistraties.nl/basisregistraties/adressen-en-gebouwen) en [Kadaster](https://zakelijk.kadaster.nl/bag).
    <br/>
    <br/>
    De BAG API levert informatie conform de [BAG Catalogus 2018](https://www.geobasisregistraties.nl/documenten/publicatie/2018/03/12/catalogus-2018) en het informatiemodel IMBAG 2.0.
    De API specificatie volgt de [Nederlandse API-Strategie](https://docs.geostandaarden.nl/api/API-Strategie) specificatie versie van 20200204 en is opgesteld in [OpenAPI Specificatie](https://www.forumstandaardisatie.nl/standaard/openapi-specification) (OAS) v3. 
    <br/>
    Het standaard mediatype HAL (`application/hal+json`) wordt gebruikt. Dit is een mediatype voor het weergeven van resources en hun relaties via hyperlinks.
    <br/>
    <br/>
    Deze API is vooral gericht op individuele bevragingen (op basis van de identificerende gegevens van een object).
    Om gebruik te kunnen maken van de BAG API is een API key nodig, deze kan verkregen worden door het [aanvraagformulier](https://formulieren.kadaster.nl/aanvragen_bag_api_key_productieomgeving) in te vullen.
    <br/>
    <br/>
    Voor vragen, neem contact op met de LVBAG beheerder o.v.v. BAG API 2.0. We zijn aan het kijken naar een geschikt medium hiervoor, mede ook om de API iteratief te kunnen opstellen of doorontwikkelen samen met de community. Als de API iets (nog) niet kan, wat u wel graag wilt, neem dan contact op.

  # Gebruikte versienotatie: x.y.z voor major, minor en patch releases. 
  # De major versie komt overeen met de major versie in de api-info.yaml.
  version: '2.0.0'
  termsOfService: https://zakelijk.kadaster.nl/algemene-voorwaarden
  contact:
    name: Kadaster - Beheerder LVBAG
    url: https://zakelijk.kadaster.nl/bag
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/

security:
  - apiKeyBAG: []
  # Alle requests verwachten een (BAG) API key (niet per operation of end-point verschillend)
  # Voor definitie van benoemde 'apiKeyBAG', zie security-schemes onderin.

#+Functionele toelichting bij de operations/end-points als documentatie indeling.
tags:
  -
    name: Pand
    description: Dit endpoint levert één of meer (voorkomens van) pand(en), met embedded resources en links.

paths:

  # Vraag pandIdentificatie
  /panden/{identificatie}:
    get:
      security:
        - apiKeyBAG: []
      tags:
        - Pand
      summary: bevragen 1 pand, op basis van de identificatie.
      operationId: pandIdentificatie
      description: >-
        Bevragen/raadplegen van een voorkomen van een pand, via de identificatie van het pand.
        Geleverd wordt een pand.
        Parameter identificatie bevat de 16 cijferige identificatie van een pand.
        Als geldigOp en/of beschikbaarOp niet wordt opgegeven, worden de actuele gegevens geleverd.
      parameters:
        - $ref: '#/components/parameters/identificatie'
        - $ref: '#/components/parameters/geldigOp'
        - $ref: '#/components/parameters/beschikbaarOp'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'

      # Antwoord pandIdentificatie
      responses:
        '200':
          description: Bevraging pandIdentificatie geslaagd
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
            Content-Crs:
              $ref: '../../../../generiek/headers.yaml#/contentCrs'
          content:
            application/hal+json:
              # 1 resource, niet een collectie, dus geen items en geen paginering.
              schema:
                $ref: './resources.yaml#/PandIOHal'
        '204':
          $ref: '../../../../generiek/responses.yaml#/204'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '404':
          $ref: '../../../../generiek/responses.yaml#/404'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '410':
          $ref: '../../../../generiek/responses.yaml#/410'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '415':
          $ref: '../../../../generiek/responses.yaml#/415'
        '422':
          $ref: '../../../../generiek/responses.yaml#/422'
        '429':
          $ref: '../../../../generiek/responses.yaml#/429'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

  # Vraag pandLvcIdentificatie
  /panden/{identificatie}/lvc:
    get:
      security:
        - apiKeyBAG: []
      tags:
        - Pand
      summary: bevragen levenscyclus van een pand, op basis van de identificatie.
      operationId: pandLvcIdentificatie
      description: >-
        Bevragen/raadplegen van de levenscyclus van een pand, via de identificatie van het pand.
        Geleverd wordt een pand levenscyclus.
        Parameter identificatie bevat de 16 cijferige identificatie van een pand.
        Parameter geheleLvc bevat een indicatie dat de gehele levenscyclus (inclusief voorkomens die uit de geldige levenscyclus zijn verwijderd) zijn gewenst. Als deze parameter wordt weggelaten (default) wordt alleen de geldige levenscyclus geretourneerd.
        De contentCrs in de header moet zijn epsg:28992
      parameters:
        - $ref: '#/components/parameters/identificatie'
        - $ref: '#/components/parameters/geheleLvc'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'

      # Antwoord pandLvcIdentificatie
      responses:
        '200':
          description: Bevraging pandLvcIdentificatie geslaagd
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
            Content-Crs:
              $ref: '../../../../generiek/headers.yaml#/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: './resources.yaml#/PandIOLvcHalCollection'
        '204':
          $ref: '../../../../generiek/responses.yaml#/204'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '404':
          $ref: '../../../../generiek/responses.yaml#/404'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '410':
          $ref: '../../../../generiek/responses.yaml#/410'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '415':
          $ref: '../../../../generiek/responses.yaml#/415'
        '422':
          $ref: '../../../../generiek/responses.yaml#/422'
        '429':
          $ref: '../../../../generiek/responses.yaml#/429'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

  # Vraag pandGeometrie
  /panden:
    post:
      requestBody:
        description: Geometrisch punt waarop de panden bepaald moeten worden.
        required: true
        content:
          application/json:
            schema:
              $ref: '../../../../geometrie/geometrie.yaml#/components/schemas/Point'
      security:
        - apiKeyBAG: []
      tags:
        - Pand
      summary: bevragen 1 pand, op basis van de geometrische locatie.
      operationId: pandGeometrie
      description: >-
        Bevragen/raadplegen van een voorkomen van een pand, via de geometrische lcoatie van het pand.
        Geleverd wordt een pand.
        Als geldigOp en/of beschikbaarOp niet wordt opgegeven, worden de actuele gegevens geleverd.
        De contentCrs in de header moet zijn epsg:28992
      parameters:
        - $ref: '#/components/parameters/geldigOp'
        - $ref: '#/components/parameters/beschikbaarOp'
        - $ref: '../../../../generiek/parameters.yaml#/contentCrs'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'

      # Antwoord pandGeometrie
      responses:
        '200':
          description: Bevraging pandGeometrie geslaagd
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
            Content-Crs:
              $ref: '../../../../generiek/headers.yaml#/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: './resources.yaml#/PandIOHalCollection'
        '204':
          $ref: '../../../../generiek/responses.yaml#/204'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '404':
          $ref: '../../../../generiek/responses.yaml#/404'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '410':
          $ref: '../../../../generiek/responses.yaml#/410'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '415':
          $ref: '../../../../generiek/responses.yaml#/415'
        '422':
          $ref: '../../../../generiek/responses.yaml#/422'
        '429':
          $ref: '../../../../generiek/responses.yaml#/429'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

  /panden/{identificatie}/{versie}/{timestampRegistratieLv}:
    get:
      security:
        - apiKeyBAG: []
      tags:
        - Pand
      summary: bevragen voorkomen van een pand, op basis van de identificatie van een pand en de identificatie van een voorkomen, bestaande uit een versie en een timestamp van het tijdstip van registratie in de LV BAG.
      operationId: pandIdentificatieVoorkomen 
      description: >-
        Bevragen/raadplegen van een voorkomen van een pand, via de identificatie van een pand en de identificatie van een voorkomen, bestaande uit een versie en een timestamp van het tijdstip van registratie in de LV BAG.
        Geleverd wordt een pand voorkomen.
        Parameter identificatie bevat de 16 cijferige identificatie van een pand.
        Parameter versie bevat de versie van een voorkomen van een pand.
        Parameter timestampRegistratieLv bevat een timestamp van het tijdstip van registratie van het voorkomen in de LV BAG>
      parameters:
        - $ref: '#/components/parameters/identificatie'
        - $ref: '#/components/parameters/versie'
        - $ref: '#/components/parameters/timestampRegistratieLv'
        - $ref: '../../../../generiek/parameters.yaml#/expand'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'

      # Antwoord pandIdentificatieVoorkomen
      responses:
        '200':
          description: Bevraging pandIdentificatieVoorkomen geslaagd
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
            Content-Crs:
              $ref: '../../../../generiek/headers.yaml#/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: './resources.yaml#/PandIOHal'
        '204':
          $ref: '../../../../generiek/responses.yaml#/204'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '404':
          $ref: '../../../../generiek/responses.yaml#/404'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '410':
          $ref: '../../../../generiek/responses.yaml#/410'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '415':
          $ref: '../../../../generiek/responses.yaml#/415'
        '422':
          $ref: '../../../../generiek/responses.yaml#/422'
        '429':
          $ref: '../../../../generiek/responses.yaml#/429'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

components:

  securitySchemes:
    apiKeyBAG:
      type: apiKey
      name: X-Api-Key
      in: header
      description: >
        De API-key die je hebt gekregen dient bij elke request via de 
        `X-Api-Key` request header meegestuurd te worden. Indien deze 
        niet juist wordt meegestuurd, of het een ongeldige key betreft, 
        zul je de foutmelding `403 Forbidden` terugkrijgen.

  parameters:
    # Opsomming van path parameters - /{...} - specificatie bij operation zelf.
    identificatie:
      description: Identificatie van een object uit de BAG. Deze is 4 lang bij een woonplaats en 16 lang bij de andere objecten.
      name: identificatie
      in: path
      required: true
      schema:
        type: string
        pattern: '^[0-9]{4}10[0-9]{10}$'
        example: '0226100000008856'

    versie:
      description: 'De versie van een voorkomen van een object'
      name: versie
      in: path
      required: true
      schema:
        type: integer
        example: 1
        
    timestampRegistratieLv:
      description: 'Een timestamp van het tijdstip waarop een voorkomen is geregistreerd in de LV BAG'
      name: timestampRegistratieLv
      in: path
      required: true
      schema:
        type: string
        example: '1530403860000'

    # Opsomming van request parameters - ?='...' parameters (by name) - specificatie bij operation zelf.
    geldigOp:
      name: geldigOp
      in: query
      example: '2019-04-01'
      required: false
      description: >
        Filtert op objecten die geldig zijn op de opgegeven datum `JJJJ-MM-DD`
        Deze parameters komen uit de API strategie, het hoofdstuk tijdreizen.
      schema:
        type: string
        format: date

    beschikbaarOp:
      name: beschikbaarOp
      in: query
      required: false
      description: >
        Filtert op objecten die beschikbaar zijn gekomen op de opgegeven datum en tijd `YYYY-MM-DDThh:mm:ss.sss'
        Hierin kunnen de seconden ':ss' en milliseconden '.sss' of alleen de milliseconden confrom ISO 8601 specificatie worden weggelaten, in dat geval krijgen deze automatisch de waarde ':00' respectievelijk '.000'.
        Indien er voor de milliseconden '.sss' meer dan 3 cijfers worden opgegeven, bv. '.12345', dan wordt dit afgekapt tot '.123'.
        Deze parameters komen uit de API strategie, het hoofdstuk [tijdreizen](https://docs.geostandaarden.nl/api/API-Strategie/#tijdreizen)
      schema:
        type: string
        format: date-time
        example: '2019-06-01T12:00:00.000'

    geheleLvc:
      description: >
        Filtert naast geldige voorkomens ook de voorkomens die uit de geldige levenscyclus van het object zijn verwijderd.
        Als deze parameter wordt weggelaten worden alleen geldige voorkomens geretourneerd (default is false).
      name: geheleLvc
      in: query
      required: false
      schema:
        type: boolean
        default: false
        example: 'true'