openapi: 3.0.0

# Server specificatie
servers:
  - description: LVBAG - ACCEPTATIE
    url: https://api.bag.acceptatie.kadaster.nl/lvbag/individuelebevragingen/v2
  - description: LVBAG - PRODUCTIE
    url: https://api.bag.kadaster.nl/lvbag/individuelebevragingen/v2

# API specificatie - algemeen
info:
  title: BAG API Individuele Bevragingen - van de LVBAG
  description: >-
    Dit is de [BAG API](https://zakelijk.kadaster.nl/-/bag-api) Individuele Bevragingen van de Landelijke Voorziening Basisregistratie Adressen en Gebouwen (LVBAG). 
    <br/>
    Meer informatie over de Basisregistratie Adressen en Gebouwen is te vinden op de website van het [Ministerie van Binnenlandse Zaken en Koninkrijksrelaties](https://www.geobasisregistraties.nl/basisregistraties/adressen-en-gebouwen) en [Kadaster](https://zakelijk.kadaster.nl/bag).
    <br/>
    <br/>
    De BAG API levert informatie conform de [BAG Catalogus 2018](https://www.geobasisregistraties.nl/documenten/publicatie/2018/03/12/catalogus-2018) en het informatiemodel IMBAG 2.0.
    De API specificatie volgt de [Nederlandse API-Strategie](https://docs.geostandaarden.nl/api/API-Strategie) specificatie versie van 20200204 en is opgesteld in [OpenAPI Specificatie](https://www.forumstandaardisatie.nl/standaard/openapi-specification) (OAS) v3. 
    <br/>
    Het standaard mediatype HAL (`application/hal+json`) wordt gebruikt. Dit is een mediatype voor het weergeven van resources en hun relaties via hyperlinks.
    <br/>
    <br/>
    Deze API is vooral gericht op individuele bevragingen (op basis van de identificerende gegevens van een object).
    Om gebruik te kunnen maken van de BAG API is een API key nodig, deze kan verkregen worden door het [aanvraagformulier](https://formulieren.kadaster.nl/aanvragen_bag_api_key_productieomgeving) in te vullen.
    <br/>
    <br/>
    Voor vragen, neem contact op met de LVBAG beheerder o.v.v. BAG API 2.0. We zijn aan het kijken naar een geschikt medium hiervoor, mede ook om de API iteratief te kunnen opstellen of doorontwikkelen samen met de community. Als de API iets (nog) niet kan, wat u wel graag wilt, neem dan contact op.

  # Gebruikte versienotatie: x.y.z voor major, minor en patch releases. 
  # De major versie komt overeen met de major versie in de api-info.yaml.
  version: '2.0.0'
  termsOfService: https://zakelijk.kadaster.nl/algemene-voorwaarden
  contact:
    name: Kadaster - Beheerder LVBAG
    url: https://zakelijk.kadaster.nl/bag
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/

security:
  - apiKeyBAG: []
  # Alle requests verwachten een (BAG) API key (niet per operation of end-point verschillend)
  # Voor definitie van benoemde 'apiKeyBAG', zie security-schemes onderin.

#+Functionele toelichting bij de operations/end-points als documentatie indeling.
tags:
  -
    name: Woonplaats
    description: Dit endpoint levert één of meer (voorkomens van) woonplaats(en), met embedded resources en links.

paths:

  # Vraag woonplaatsIdentificatie
  /woonplaatsen/{identificatie}:
    get:
      security:
        - apiKeyBAG: []
      tags:
        - Woonplaats
      summary: bevragen van een woonplaats met de identificatie van een woonplaats.
      operationId: woonplaatsIdentificatie
      description: >-
        Bevragen/raadplegen van een voorkomen van een Woonplaats met de identificatie van de woonplaats. 
        Als geldigOp en/of beschikbaarOp niet wordt opgegeven, worden de actuele gegevens geleverd.
        Als expand=bronhouders, geometrie of true dan worden de gevraagde of alle gerelateerde objecten als geneste resource geleverd.
      parameters:
        - $ref: '#/components/parameters/identificatie'
        - $ref: '#/components/parameters/geldigOp'
        - $ref: '#/components/parameters/beschikbaarOp'
        - $ref: '../../../../generiek/parameters.yaml#/expand'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'

      # Antwoord woonplaatsIdentificatie
      responses:
        '200':
          description: Bevraging woonplaatsIdentificatie geslaagd
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
            Content-Crs:
              $ref: '../../../../generiek/headers.yaml#/contentCrs'
          content:
            application/hal+json:
              # 1 resource, niet een collectie, dus geen items en geen paginering.
              schema:
                $ref: './resources.yaml#/WoonplaatsIOHal'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '404':
          $ref: '../../../../generiek/responses.yaml#/404'
        '405':
          $ref: '../../../../generiek/responses.yaml#/405'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        '503':
          $ref: '../../../../generiek/responses.yaml#/503'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

  # Vraag woonplaatsLvcIdentificatie
  /woonplaatsen/{identificatie}/lvc:
    get:
      security:
        - apiKeyBAG: []
      tags:
        - Woonplaats
      summary: bevragen van de levenscyclus van een woonplaats met de identificatie van een woonplaats.
      operationId: woonplaatsLvcIdentificatie
      description: >-
        Bevragen/raadplegen van de levenscyclus van een Woonplaats met de identificatie van de woonplaats.
        Als expand=bronhouders, geometrie of true dan worden de gevraagde of alle gerelateerde objecten als geneste resource geleverd.
      parameters:
        - $ref: '#/components/parameters/identificatie'
        - $ref: '#/components/parameters/geheleLvc'
        - $ref: '../../../../generiek/parameters.yaml#/expand'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'

      # Antwoord woonplaatsLvcIdentificatie
      responses:
        '200':
          description: Bevraging woonplaatsLvcIdentificatie geslaagd
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
            Content-Crs:
              $ref: '../../../../generiek/headers.yaml#/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: './resources.yaml#/WoonplaatsIOLvcHalCollection'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '404':
          $ref: '../../../../generiek/responses.yaml#/404'
        '405':
          $ref: '../../../../generiek/responses.yaml#/405'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        '503':
          $ref: '../../../../generiek/responses.yaml#/503'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

  /woonplaatsen:
    # Vraag woonplaatsGeometrie
    post:
      requestBody:
        description: Geometrisch punt waarop de woonplaatsen bepaald moeten worden.
        required: true
        content:
          application/json:
            schema:
              $ref: '../../../../geometrie/geometrie.yaml#/components/schemas/Point'
      security:
        - apiKeyBAG: []
      tags:
        - Woonplaats
      summary: bevragen van een woonplaats met een geometrische locatie.
      operationId: woonplaatsGeometrie
      description: >-
        Bevragen/raadplegen van een voorkomen van een Woonplaats met een geometrische locatie.
        Als geldigOp en/of beschikbaarOp niet wordt opgegeven, worden de actuele gegevens geleverd. 
        Als expand=bronhouders, geometrie of true dan worden de gevraagde of alle gerelateerde objecten als geneste resource geleverd.
      parameters:
        - $ref: '#/components/parameters/geldigOp'
        - $ref: '#/components/parameters/beschikbaarOp'
        - $ref: '../../../../generiek/parameters.yaml#/expand'
        - $ref: '../../../../generiek/parameters.yaml#/contentCrs'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'

      # Antwoord woonplaatsGeometrie
      responses:
        '200':
          description: Bevraging woonplaatsGeometrie geslaagd
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
            Content-Crs:
              $ref: '../../../../generiek/headers.yaml#/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: './resources.yaml#/WoonplaatsIOHalCollection'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '405':
          $ref: '../../../../generiek/responses.yaml#/405'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '415':
          $ref: '../../../../generiek/responses.yaml#/415'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        '503':
          $ref: '../../../../generiek/responses.yaml#/503'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

    # Vraag woonplaatsNaam
    get:
      security:
        - apiKeyBAG: []
      tags:
        - Woonplaats
      summary: bevragen van één of meer woonplaatsen met een woonplaatsnaam.
      operationId: woonplaatsNaam
      description: >-
        Bevragen/raadplegen van één voorkomen van één of meer woonplaatsen met een woonplaatsnaam.
        Als geldigOp en/of beschikbaarOp niet wordt opgegeven, worden de actuele gegevens geleverd. 
        Als expand=bronhouders, geometrie of true dan worden de gevraagde of alle gerelateerde objecten als geneste resource geleverd.
      parameters:
        - $ref: '#/components/parameters/naam'
        - $ref: '#/components/parameters/geldigOp'
        - $ref: '#/components/parameters/beschikbaarOp'
        - $ref: '../../../../generiek/parameters.yaml#/expand'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'

      # Antwoord woonplaatsNaam
      responses:
        '200':
          description: Bevraging woonplaatsNaam geslaagd
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
            Content-Crs:
              $ref: '../../../../generiek/headers.yaml#/contentCrs'
          content:
            application/hal+json:
              # Er bestaan meerdere woonplaatsen met dezelfde naam. Een lijst is daarom vereist.
              schema:
                $ref: './resources.yaml#/WoonplaatsIOHalCollection'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '405':
          $ref: '../../../../generiek/responses.yaml#/405'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        '503':
          $ref: '../../../../generiek/responses.yaml#/503'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

  /woonplaatsen/{identificatie}/{versie}/{timestampRegistratieLv}:
    get:
      security:
        - apiKeyBAG: []
      tags:
        - Woonplaats
      summary: bevragen van een voorkomen van een woonplaats met de identificatie van een woonplaats en de identificatie van een voorkomen, bestaande uit een versie en een timestamp van het tijdstip van registratie in de LV BAG.
      operationId: woonplaatsIdentificatieVoorkomen 
      description: >-
        Bevragen/raadplegen van een voorkomen van een Woonplaats met de identificatie van een woonplaats en de identificatie van een voorkomen, bestaande uit een versie en een timestamp van het tijdstip van registratie in de LV BAG.
        Als expand=bronhouders, geometrie of true dan worden de gevraagde of alle gerelateerde objecten als geneste resource geleverd.
      parameters:
        - $ref: '#/components/parameters/identificatie'
        - $ref: '#/components/parameters/versie'
        - $ref: '#/components/parameters/timestampRegistratieLv'
        - $ref: '../../../../generiek/parameters.yaml#/expand'
        - $ref: '../../../../generiek/parameters.yaml#/acceptCrs'

      # Antwoord woonplaatsIdentificatieVoorkomen
      responses:
        '200':
          description: Bevraging woonplaatsIdentificatieVoorkomen geslaagd
          headers:
            api-version:
              $ref: '../../../../generiek/headers.yaml#/api_version'
            warning:
              $ref: '../../../../generiek/headers.yaml#/warning'
            Content-Crs:
              $ref: '../../../../generiek/headers.yaml#/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: './resources.yaml#/WoonplaatsIOHal'
        '400':
          $ref: '../../../../generiek/responses.yaml#/400'
        '401':
          $ref: '../../../../generiek/responses.yaml#/401'
        '403':
          $ref: '../../../../generiek/responses.yaml#/403'
        '404':
          $ref: '../../../../generiek/responses.yaml#/404'
        '405':
          $ref: '../../../../generiek/responses.yaml#/405'
        '406':
          $ref: '../../../../generiek/responses.yaml#/406'
        '412':
          $ref: '../../../../generiek/responses.yaml#/412'
        '500':
          $ref: '../../../../generiek/responses.yaml#/500'
        '503':
          $ref: '../../../../generiek/responses.yaml#/503'
        default:
          $ref: '../../../../generiek/responses.yaml#/default'

components:

  securitySchemes:

    apiKeyBAG:
      type: apiKey
      name: X-Api-Key
      in: header
      description: >
        De API-key die je hebt gekregen dient bij elke request via de 
        `X-Api-Key` request header meegestuurd te worden. Indien deze 
        niet juist wordt meegestuurd, of het een ongeldige key betreft, 
        zul je de foutmelding `403 Forbidden` terugkrijgen.

  parameters:

    # Opsomming van path parameters - /{...} - specificatie bij operation zelf.
    identificatie:
      description: 'De identificatie van een BAG object. Deze is 4 cijfers lang bij een woonplaats.'
      name: identificatie
      in: path
      required: true
      schema:
        description: 'Deze wordt gebruikt in de operation, bv. /woonplaatsen/3560. Waarde: 0001-9999.'
        type: string
        pattern: '[0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]|[0-9][1-9][0-9]{2}|[1-9][0-9]{3}'
        example: '2096'

    versie:
      description: 'De versie van een voorkomen van een object'
      name: versie
      in: path
      required: true
      schema:
        type: integer
        example: 1
        
    timestampRegistratieLv:
      description: 'Een timestamp van het tijdstip waarop een voorkomen is geregistreerd in de LV BAG'
      name: timestampRegistratieLv
      in: path
      required: true
      schema:
        type: string
        example: '1530403860000'

    # Opsomming van request parameters - ?='...' parameters (by name) - specificatie bij operation zelf.
    naam:
      description: Naam van een woonplaats object uit de BAG.
      name: naam
      in: query
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 80
        pattern: '^[\u0020-\u007E;\u00A0-\u00FF;\u0100-\u0113;\u0116-\u012B;\u012E-\u014D;\u0150-\u017E;\u02C7;\u02D8-\u02DB;\u02DD;\u2015;\u2018-\u2019;\u201C-\u201D;\u20AC;\u2122;\u2126;\u215B-\u215E;\u2190-\u2193;\u266A;]*'
        example: 'Duiven'

    geldigOp:
      description: >
        Filtert op objecten die geldig zijn op de opgegeven datum 'YYYY-MM-DD'
        Deze parameters komen uit de API strategie, het hoofdstuk [tijdreizen](https://docs.geostandaarden.nl/api/API-Strategie/#tijdreizen)
      name: geldigOp
      in: query
      required: false
      schema:
        type: string
        format: date
      example: '2019-06-01'

    beschikbaarOp:
      description: >
        Filtert op objecten die beschikbaar zijn op de opgegeven datum en tijd `YYYY-MM-DDThh:mm:ss.sss'
        Hierin kunnen de seconden ':ss' en milliseconden '.sss' of alleen de milliseconden conform ISO 8601 specificatie worden weggelaten, in dat geval krijgen deze automatisch de waarde ':00' respectievelijk '.000'.
        Indien er voor de milliseconden '.sss' meer dan 3 cijfers worden opgegeven, bv. '.12345', dan wordt dit afgekapt tot '.123'.
        Deze parameters komen uit de API strategie, het hoofdstuk [tijdreizen](https://docs.geostandaarden.nl/api/API-Strategie/#tijdreizen)
      name: beschikbaarOp
      in: query
      required: false
      schema:
        type: string
        format: date-time
        example: '2019-06-01T12:00:00.000'

    geheleLvc:
      description: >-
        Filtert naast geldige voorkomens ook de voorkomens die uit de geldige levenscyclus van het object zijn verwijderd.
        Als deze parameter wordt weggelaten worden alleen geldige voorkomens geretourneerd (default is false).
        Voor een toelichting zie de [Praktijkhandleiding BAG](https://imbag.github.io/praktijkhandleiding/artikelen/wat-is-het-verschil-tussen-actieve-voorkomens-actuele-voorkomens-en-huidige-voorkomens).
      name: geheleLvc
      in: query
      required: false
      schema:
        type: boolean
        default: false
        example: 'true'
