openapi: 3.0.0
info:
  title: IMBAG API - van de LVBAG
  description: "Dit is de [BAG API](https://zakelijk.kadaster.nl/-/bag-api) Individuele\
    \ Bevragingen van de Landelijke Voorziening Basisregistratie Adressen en Gebouwen\
    \ (LVBAG).\n                                        <br/>\n                  \
    \                      Meer informatie over de Basisregistratie Adressen en Gebouwen\
    \ is te vinden op de website van het [Ministerie van Binnenlandse Zaken en Koninkrijksrelaties](https://www.geobasisregistraties.nl/basisregistraties/adressen-en-gebouwen)\
    \ en [Kadaster](https://zakelijk.kadaster.nl/bag).\n                         \
    \               <br/>\n                                        <br/>\n       \
    \                                 De BAG API levert informatie conform de [BAG\
    \ Catalogus 2018](https://www.geobasisregistraties.nl/documenten/publicatie/2018/03/12/catalogus-2018)\
    \ en het informatiemodel IMBAG 2.0.\n                                        De\
    \ API specificatie volgt de [Nederlandse API-Strategie](https://docs.geostandaarden.nl/api/API-Strategie)\
    \ specificatie versie van 20200204 en is opgesteld in [OpenAPI Specificatie](https://www.forumstandaardisatie.nl/standaard/openapi-specification)\
    \ (OAS) v3.\n                                        <br/>\n                 \
    \                       Het standaard mediatype HAL (`application/hal+json`) wordt\
    \ gebruikt. Dit is een mediatype voor het weergeven van resources en hun relaties\
    \ via hyperlinks.\n                                        <br/>\n           \
    \                             <br/>\n                                        Deze\
    \ API is vooral gericht op individuele bevragingen (op basis van de identificerende\
    \ gegevens van een object).\n                                        Om gebruik\
    \ te kunnen maken van de BAG API is een API key nodig, deze kan verkregen worden\
    \ door het [aanvraagformulier](https://formulieren.kadaster.nl/aanvraag_bag_api_individuele_bevragingen_productie)\
    \ in te vullen.\n                                        <br/>\n             \
    \                           <br/>\n                                        Voor\
    \ vragen, neem contact op met de LVBAG beheerder o.v.v. BAG API 2.0. We zijn aan\
    \ het kijken naar een geschikt medium hiervoor, mede ook om de API iteratief te\
    \ kunnen opstellen of doorontwikkelen samen met de community. Als de API iets\
    \ (nog) niet kan, wat u wel graag wilt, neem dan contact op."
  termsOfService: '"https://zakelijk.kadaster.nl/algemene-voorwaarden"'
  contact:
    name: Kadaster - Beheerder LVBAG
    url: https://zakelijk.kadaster.nl/bag
  license:
    name: "European Union Public License, version 1.2 (EUPL-1.2)"
    url: https://eupl.eu/1.2/nl/
  version: 2.0.0
servers:
- url: https://api.bag.acceptatie.kadaster.nl/lvbag/individuelebevragingen/v2
  description: LVBAG - ACCEPTATIE
- url: https://api.bag.kadaster.nl/lvbag/individuelebevragingen/v2
  description: LVBAG - PRODUCTIE
security:
- apiKeyBAG: []
tags:
- name: Adresseerbaar object
  description: Dit endpoint levert één of meer (voorkomens van) adresseerbare objecten
    met embedded resources en links.
- name: Adres
  description: "Deze services leveren één of meer huidige adressen, met embedded resources\
    \ en links. Huidig betekent dat het adres actueel is en geen eind status heeft.\
    \ Voor een toelichting zie de [Praktijkhandleiding BAG](https://imbag.github.io/praktijkhandleiding/artikelen/wat-is-het-verschil-tussen-actieve-voorkomens-actuele-voorkomens-en-huidige-voorkomens)."
- name: Adres uitgebreid
  description: "Deze service levert uitgebreide informatie van één of meer huidige\
    \ adressen, met embedded resources en links. Huidig betekent dat het adres actueel\
    \ is en geen eind status heeft. Voor een toelichting zie de [Praktijkhandleiding\
    \ BAG](https://imbag.github.io/praktijkhandleiding/artikelen/wat-is-het-verschil-tussen-actieve-voorkomens-actuele-voorkomens-en-huidige-voorkomens)."
- name: Algemene informatie
  description: Het endpoint voor algemene informatie levert informatie op van de API.
- name: Bronhouder
  description: Dit endpoint levert één of meer bronhouder(s).
- name: Ligplaats
  description: "Dit endpoint levert één of meer (voorkomens van) ligplaats(en), met\
    \ embedded resources en links."
- name: Nummeraanduiding
  description: "Dit endpoint levert één of meer (voorkomens van) nummeraanduiding(en),\
    \ met embedded resources en links."
- name: Openbare ruimte
  description: "Dit endpoint levert één of meer (voorkomens van) openbare ruimte(n),\
    \ met embedded resources en links."
- name: Pand
  description: "Dit endpoint levert één of meer (voorkomens van) pand(en), met embedded\
    \ resources en links."
- name: Standplaats
  description: "Dit endpoint levert één of meer (voorkomens van) standplaats(en),\
    \ met embedded resources en links."
- name: Verblijfsobject
  description: "Dit endpoint levert één of meer (voorkomens van) verblijfsobject(en),\
    \ met embedded resources en links."
- name: Woonplaats
  description: "Dit endpoint levert één of meer (voorkomens van) woonplaats(en), met\
    \ embedded resources en links."
paths:
  /adresseerbareobjecten/{adresseerbaarObjectIdentificatie}:
    get:
      tags:
      - Adresseerbaar object
      summary: Bevragen van één adresseerbaar object met een adresseerbaar object
        identificatie.
      description: "Bevragen van één adresseerbaar object (ligplaats, standplaats\
        \ of verblijfsobject) met de identificatie van een adresseerbaar object. Als\
        \ geldigOp en/of beschikbaarOp niet wordt opgegeven, worden de actuele gegevens\
        \ geleverd.  Als expand=heeftAlsHoofdAdres, heeftAlsNevenAdres, maaktDeelUitVan\
        \ (of een combinatie daarvan) of als expand=true, dan worden de gevraagde\
        \ of alle gerelateerde resources als geneste resource geleverd."
      operationId: bevragenAdresseerbaarObject
      parameters:
      - name: adresseerbaarObjectIdentificatie
        in: path
        description: Identificatie van een object uit de BAG. Deze is 4 lang bij een
          woonplaats en 16 lang bij de andere objecten.
        required: true
        style: simple
        explode: false
        schema:
          title: identificatie van adresseerbaar object
          pattern: "^[0-9]{4}(01|02|03)[0-9]{10}$"
          type: string
          example: "0226010000038820"
      - name: geldigOp
        in: query
        description: "Filtert op objecten die geldig zijn op de opgegeven datum 'YYYY-MM-DD'\
          \ Deze parameters komen uit de API strategie, het hoofdstuk [tijdreizen](https://docs.geostandaarden.nl/api/API-Strategie/#tijdreizen)\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2019-06-01
      - name: beschikbaarOp
        in: query
        description: "Filtert op objecten die beschikbaar zijn gekomen op de opgegeven\
          \ datum en tijd `YYYY-MM-DDThh:mm:ss.sss'. Hierin kunnen de seconden ':ss'\
          \ en milliseconden '.sss' of alleen de milliseconden conform ISO 8601 specificatie\
          \ worden weggelaten, in dat geval krijgen deze automatisch de waarde ':00'\
          \ respectievelijk '.000'. Indien er voor de milliseconden '.sss' meer dan\
          \ 3 cijfers worden opgegeven, bv. '.12345', dan wordt dit afgekapt tot '.123'.\
          \ Deze parameters komen uit de API strategie, het hoofdstuk [tijdreizen](https://docs.geostandaarden.nl/api/API-Strategie/#tijdreizen)\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: expand
        in: query
        description: "Hier kan aangegeven worden welke gerelateerde resources meegeladen\
          \ moeten worden. Resources en velden van resources die gewenst zijn kunnen\
          \ in de expand parameter kommagescheiden worden opgegeven. Specifieke velden\
          \ van resource kunnen worden opgegeven door het opgeven van de resource-naam\
          \ gevolgd door de veldnaam, met daartussen een punt."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Accept-Crs
        in: header
        description: Gewenste CRS van de coördinaten in de response.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          description: CRS van de coördinaten in de response.
          enum:
          - epsg:28992
      responses:
        "200":
          description: "Bevraging bevragenAdresseerbaarObject geslaagd geslaagd. Ondanks\
            \ dat er in de example een voorbeeld van alle mogelijke adresseerbare\
            \ objecten (ligplaats, standplaats of verblijfspobject) staat, wordt er\
            \ altijd slechts één van deze objecten geretourneerd."
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresseerbaarObjectIOHal'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats_huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not found.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                title: Opgevraagde resource bestaat niet.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            acceptCrs:
              $ref: '#/components/headers/acceptCrs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "412":
          description: Precondition failed.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 412
                title: Niet voldaan aan vooraf gestelde voorwaarde
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - apiKeyBAG: []
  /adresseerbareobjecten/{adresseerbaarObjectIdentificatie}/lvc:
    get:
      tags:
      - Adresseerbaar object
      summary: Bevragen van de levenscyclus van een adresseerbaar object met een adresseerbaar
        object identificatie.
      description: "Bevragen van de levenscyclus van een adresseerbaar object (ligplaats,\
        \ standplaats of verblijfsobject) met de identificatie van een adresseerbaar\
        \ object. Met de geheleLvc parameter kan worden aangegeven of de gehele levenscyclus\
        \ (inclusief voorkomens die uit de geldige levenscyclus zijn verwijderd) of\
        \ alleen de actieve levenscyclus (alleen de voorkomens die onderdeel zijn\
        \ van de geldige levenscyclus) gewenst zijn. "
      operationId: bevragenAdresseerbaarObjectLvc
      parameters:
      - name: adresseerbaarObjectIdentificatie
        in: path
        description: Identificatie van een object uit de BAG. Deze is 4 lang bij een
          woonplaats en 16 lang bij de andere objecten.
        required: true
        style: simple
        explode: false
        schema:
          title: identificatie van adresseerbaar object
          pattern: "^[0-9]{4}(01|02|03)[0-9]{10}$"
          type: string
          example: "0226010000038820"
      - name: geheleLvc
        in: query
        description: |
          Filtert naast geldige voorkomens ook de voorkomens die uit de geldige levenscyclus van het object zijn verwijderd. Als deze parameter wordt weggelaten worden alleen geldige voorkomens geretourneerd (default is false).
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
          default: false
      - name: Accept-Crs
        in: header
        description: Gewenste CRS van de coördinaten in de response.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          description: CRS van de coördinaten in de response.
          enum:
          - epsg:28992
      responses:
        "200":
          description: "Bevraging bevragenAdresseerbaarObjectLvc geslaagd. Ondanks\
            \ dat er in de example een voorbeeld van alle mogelijke adresseerbare\
            \ objecten (ligplaats, standplaats of verblijfspobject) staat, wordt er\
            \ altijd slechts één van deze objecten geretourneerd."
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresseerbaarObjectLvcIOHalCollection'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats_huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not found.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                title: Opgevraagde resource bestaat niet.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            acceptCrs:
              $ref: '#/components/headers/acceptCrs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "412":
          description: Precondition failed.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 412
                title: Niet voldaan aan vooraf gestelde voorwaarde
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - apiKeyBAG: []
  /adresseerbareobjecten:
    get:
      tags:
      - Adresseerbaar object
      summary: Bevragen van één of meer adresseerbare objecten op basis van een nummeraanduiding
        identificatie.
      description: "Bevragen/zoeken van alle aan een nummeraanduiding identificatie\
        \ gerelateerde adresseerbare objecten (ligplaats, standplaats of verblijfsobject).\
        \ Parameter huidig kan worden toegepast. Als geldigOp en/of beschikbaarOp\
        \ niet wordt opgegeven, worden de actuele gegevens geleverd.  Als expand=heeftAlsHoofdAdres,\
        \ heeftAlsNevenAdres, maaktDeelUitVan (of een combinatie daarvan) of als expand=true,\
        \ dan worden de gevraagde of alle gerelateerde resources als geneste resource\
        \ geleverd."
      operationId: zoekAdresseerbaarObject
      parameters:
      - name: nummeraanduidingIdentificatie
        in: query
        description: Identificatie van een object uit de BAG. Deze is 4 lang bij een
          woonplaats en 16 lang bij de andere objecten.
        required: false
        style: form
        explode: true
        schema:
          pattern: "^[0-9]{4}20[0-9]{10}$"
          type: string
          example: "0226200000038923"
      - name: huidig
        in: query
        description: Indicatie dat alleen actuele object voorkomens zonder eindstatus
          gewenst zijn.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: false
          default: false
      - name: geldigOp
        in: query
        description: "Filtert op objecten die geldig zijn op de opgegeven datum 'YYYY-MM-DD'\
          \ Deze parameters komen uit de API strategie, het hoofdstuk [tijdreizen](https://docs.geostandaarden.nl/api/API-Strategie/#tijdreizen)\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2019-06-01
      - name: beschikbaarOp
        in: query
        description: "Filtert op objecten die beschikbaar zijn gekomen op de opgegeven\
          \ datum en tijd `YYYY-MM-DDThh:mm:ss.sss'. Hierin kunnen de seconden ':ss'\
          \ en milliseconden '.sss' of alleen de milliseconden conform ISO 8601 specificatie\
          \ worden weggelaten, in dat geval krijgen deze automatisch de waarde ':00'\
          \ respectievelijk '.000'. Indien er voor de milliseconden '.sss' meer dan\
          \ 3 cijfers worden opgegeven, bv. '.12345', dan wordt dit afgekapt tot '.123'.\
          \ Deze parameters komen uit de API strategie, het hoofdstuk [tijdreizen](https://docs.geostandaarden.nl/api/API-Strategie/#tijdreizen)\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: expand
        in: query
        description: "Hier kan aangegeven worden welke gerelateerde resources meegeladen\
          \ moeten worden. Resources en velden van resources die gewenst zijn kunnen\
          \ in de expand parameter kommagescheiden worden opgegeven. Specifieke velden\
          \ van resource kunnen worden opgegeven door het opgeven van de resource-naam\
          \ gevolgd door de veldnaam, met daartussen een punt."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Accept-Crs
        in: header
        description: Gewenste CRS van de coördinaten in de response.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          description: CRS van de coördinaten in de response.
          enum:
          - epsg:28992
      responses:
        "200":
          description: "Bevraging zoekAdresseerbaarObject geslaagd. Ondanks dat er\
            \ in de example een voorbeeld van alle mogelijke adresseerbare objecten\
            \ (ligplaats, standplaats of verblijfspobject) staat, wordt er altijd\
            \ slechts één van deze objecten geretourneerd."
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresseerbareObjectenIOHalCollection'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats_huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            acceptCrs:
              $ref: '#/components/headers/acceptCrs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "412":
          description: Precondition failed.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 412
                title: Niet voldaan aan vooraf gestelde voorwaarde
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - apiKeyBAG: []
  /adressen/zoek:
    get:
      tags:
      - Adres
      summary: Zoeken van huidige adressen
      description: "Zoeken van huidige adressen met postcode, woonplaats, straatnaam,\
        \ huisnummer, huisletter, huisnummertoevoeging.  Een adres kan worden gevonden\
        \ door de zoekresultaatidentificatie uit het antwoord als parameter mee te\
        \ geven in get /adressen. Voor paginering, zie: [functionele specificatie\
        \ paginering](https://github.com/lvbag/BAG-API/blob/master/Features/paginering.feature)."
      operationId: zoek
      parameters:
      - name: zoek
        in: query
        description: "Zoekterm op postcode, woonplaats, straatnaam, huisnummer, huisletter,\
          \ huisnummertoevoeging"
        required: true
        style: form
        explode: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
      - name: page
        in: query
        description: Pagina nummer
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: pageSize
        in: query
        description: Aantal resultaten per pagina
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 10
          type: integer
          default: 20
      responses:
        "200":
          description: Zoek adres geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Pagination-Page:
              $ref: '#/components/headers/X_Pagination_Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X_Pagination_Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ZoekResultaatHalCollection'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats_huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - apiKeyBAG: []
  /adressen:
    get:
      tags:
      - Adres
      summary: Bevragen van huidige adressen met een (combinatie van) zoek parameters.
      description: "De volgende bevragingen worden ondersteund: <ol>\n  <li>\n   \
        \ Bevragen van één huidig adres met de identificatie van een zoekresultaat\
        \ verkregen via /adressen/zoek.\n  </li>\n  <li>\n    Bevragen van één of\
        \ meer huidige adressen met postcode, huisnummer en optioneel huisnummertoevoeging\
        \ en huisletter.\n    Parameter exacteMatch kan worden toegepast.\n  </li>\n\
        \  <li>\n    Bevragen van één of meer huidige adressen met de identificatie\
        \ van een adresseerbaar object.\n  </li>\n  <li>\n    Bevragen van één of\
        \ meer huidige adressen met woonplaats naam, openbare ruimte naam, huisnummer\
        \ en optioneel huisnummertoevoeging en/of huisletter.\n    Parameter exacteMatch\
        \ kan worden toegepast.\n  </li>\n  <li>\n    Bevragen van één of meer huidige\
        \ adressen met de identificatie van een pand.\n    Expand wordt niet ondersteund.\n\
        \  </li>\n</ol> Bij de bovenstaande bevragingen kunnen eveneens de volgende\
        \ parameters worden gebruikt (tenzij anders vermeld):<br/> Als expand=nummeraanduiding,\
        \ openbareRuimte, woonplaats (of een combinatie daarvan) of als expand=true,\
        \ dan worden de gevraagde of alle gerelateerde resources als geneste resource\
        \ geleverd. Voor paginering, zie: [functionele specificatie paginering](https://github.com/lvbag/BAG-API/blob/master/Features/paginering.feature)."
      operationId: bevraagAdressen
      parameters:
      - name: zoekresultaatIdentificatie
        in: query
        description: De identificatie van een gekozen zoekresultaat uit de zoekResultatenHalCollectie
          verkregen bij een GET /adressen/zoek
        required: false
        style: form
        explode: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
      - name: postcode
        in: query
        description: Postcode behorende bij een nummeraanduiding.
        required: false
        style: form
        explode: true
        schema:
          pattern: "^[1-9]{1}[0-9]{3}[a-zA-Z]{2}$"
          type: string
          example: 6922KZ
      - name: huisnummer
        in: query
        description: Huisnummer behorende bij een nummeraanduiding.
        required: false
        style: form
        explode: true
        schema:
          maximum: 99999
          minimum: 1
          type: integer
          example: 1
      - name: huisnummertoevoeging
        in: query
        description: Huisnummertoevoeging behorende bij een nummeraanduiding.
        required: false
        style: form
        explode: true
        schema:
          pattern: "^[0-9a-zA-Z]{1,4}$"
          type: string
          example: bis
      - name: huisletter
        in: query
        description: Huisletter behorende bij een nummeraanduiding.
        required: false
        style: form
        explode: true
        schema:
          pattern: "^[a-zA-Z]{1}$"
          type: string
          example: A
      - name: exacteMatch
        in: query
        description: "\"Een indicatie of de resultaten van een zoekoperatie exact\
          \ overeen moeten komen met de zoekcriteria, zie [functionele specificatie\
          \ exacte match](https://github.com/lvbag/BAG-API/blob/master/Features/exacte_match.feature).\""
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
          default: false
      - name: adresseerbaarObjectIdentificatie
        in: query
        description: "Identificatie van een adresseerbaar object (ligplaats, standplaats\
          \ of verblijfsobject) uit de BAG."
        required: false
        style: form
        explode: true
        schema:
          title: identificatie van adresseerbaar object
          pattern: "^[0-9]{4}(01|02|03)[0-9]{10}$"
          type: string
          example: "0226010000038820"
      - name: woonplaatsNaam
        in: query
        description: Naam van een woonplaats.
        required: false
        style: form
        explode: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[\\u0020-\\u007E;\\u00A0-\\u00FF;\\u0100-\\u0113;\\u0116-\\u012B;\\\
            u012E-\\u014D;\\u0150-\\u017E;\\u02C7;\\u02D8-\\u02DB;\\u02DD;\\u2015;\\\
            u2018-\\u2019;\\u201C-\\u201D;\\u20AC;\\u2122;\\u2126;\\u215B-\\u215E;\\\
            u2190-\\u2193;\\u266A;]*"
          type: string
          example: Duiven
      - name: openbareRuimteNaam
        in: query
        description: Naam van een openbare ruimte.
        required: false
        style: form
        explode: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[\\u0020-\\u007E;\\u00A0-\\u00FF;\\u0100-\\u0113;\\u0116-\\u012B;\\\
            u012E-\\u014D;\\u0150-\\u017E;\\u02C7;\\u02D8-\\u02DB;\\u02DD;\\u2015;\\\
            u2018-\\u2019;\\u201C-\\u201D;\\u20AC;\\u2122;\\u2126;\\u215B-\\u215E;\\\
            u2190-\\u2193;\\u266A;]*"
          type: string
          example: Laan van de landinrichtingscommissie Duiven-Westervoort
      - name: pandIdentificatie
        in: query
        description: Identificatie van een object uit de BAG. Deze is 4 lang bij een
          woonplaats en 16 lang bij de andere objecten.
        required: false
        style: form
        explode: true
        schema:
          pattern: "^[0-9]{4}10[0-9]{10}$"
          type: string
          example: "0226100000008856"
      - name: expand
        in: query
        description: "Hier kan aangegeven worden welke gerelateerde resources meegeladen\
          \ moeten worden. Resources en velden van resources die gewenst zijn kunnen\
          \ in de expand parameter kommagescheiden worden opgegeven. Specifieke velden\
          \ van resource kunnen worden opgegeven door het opgeven van de resource-naam\
          \ gevolgd door de veldnaam, met daartussen een punt."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: page
        in: query
        description: Pagina nummer
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: pageSize
        in: query
        description: Aantal resultaten per pagina
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 10
          type: integer
          default: 20
      responses:
        "200":
          description: bevraagAdressen geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Pagination-Page:
              $ref: '#/components/headers/X_Pagination_Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X_Pagination_Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresIOHalCollection'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats_huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            acceptCrs:
              $ref: '#/components/headers/acceptCrs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "412":
          description: Precondition failed.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 412
                title: Niet voldaan aan vooraf gestelde voorwaarde
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - apiKeyBAG: []
  /adressen/{nummeraanduidingIdentificatie}:
    get:
      tags:
      - Adres
      summary: Bevragen van een huidig adres met de identificatie van een nummeraanduiding.
      description: "Bevragen van een huidig adres met de identificatie van een nummeraanduiding.\
        \ Als expand=nummeraanduiding, openbareRuimte, woonplaats (of een combinatie\
        \ daarvan) of als expand=true, dan worden de gevraagde of alle gerelateerde\
        \ resources als geneste resource geleverd."
      operationId: bevraagAdressenMetNumId
      parameters:
      - name: nummeraanduidingIdentificatie
        in: path
        description: Identificatie van een nummeraanduiding uit de BAG. Deze is 16
          cijfers lang.
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[0-9]{16}$"
          type: string
          example: "0226200000038923"
      - name: expand
        in: query
        description: "Hier kan aangegeven worden welke gerelateerde resources meegeladen\
          \ moeten worden. Resources en velden van resources die gewenst zijn kunnen\
          \ in de expand parameter kommagescheiden worden opgegeven. Specifieke velden\
          \ van resource kunnen worden opgegeven door het opgeven van de resource-naam\
          \ gevolgd door de veldnaam, met daartussen een punt."
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: bevraagAdressenMetNumId geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Pagination-Page:
              $ref: '#/components/headers/X_Pagination_Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X_Pagination_Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresIOHal'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats_huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not found.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                title: Opgevraagde resource bestaat niet.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            acceptCrs:
              $ref: '#/components/headers/acceptCrs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "412":
          description: Precondition failed.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 412
                title: Niet voldaan aan vooraf gestelde voorwaarde
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - apiKeyBAG: []
  /adressenuitgebreid/{nummeraanduidingIdentificatie}:
    get:
      tags:
      - Adres uitgebreid
      summary: Bevragen van de uitgebreide informatie van één huidig adres met de
        identificatie van een nummeraanduiding.
      description: Bevragen van de uitgebreide informatie van één huidig adres met
        de identificatie van een nummeraanduiding.
      operationId: bevraagAdresUitgebreidMetNumId
      parameters:
      - name: nummeraanduidingIdentificatie
        in: path
        description: Identificatie van een nummeraanduiding uit de BAG.
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[0-9]{4}20[0-9]{10}$"
          type: string
          example: "0226200000038923"
      - name: Accept-Crs
        in: header
        description: Gewenste CRS van de coördinaten in de response.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          description: CRS van de coördinaten in de response.
          enum:
          - epsg:28992
      responses:
        "200":
          description: Bevraging bevraagAdresUitgebreidMetNumId geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresUitgebreidHal'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats_huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            acceptCrs:
              $ref: '#/components/headers/acceptCrs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "412":
          description: Precondition failed.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 412
                title: Niet voldaan aan vooraf gestelde voorwaarde
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - apiKeyBAG: []
  /adressenuitgebreid:
    get:
      tags:
      - Adres uitgebreid
      summary: Bevragen van de uitgebreide informatie van één of meer huidige adressen
        op basis van verschillende combinaties van parameters.
      description: "De volgende (combinaties van) parameters worden ondersteund: <ol>\n\
        \  <li>Bevragen van de uitgebreide informatie van één of meer huidige adressen\
        \ met een postcode, huisnummer en optioneel huisnummertoevoeging en huisletter.\n\
        \    Het opgeven van een combinatie van parameters levert niet altijd een\
        \ exacte match met één adres, bv. in geval van meerdere objecten met huisnummertoevoegingen\
        \ en/of huisletters. \n    Met de exacteMatch parameter kan worden aangegeven\
        \ dat alleen object(en) die exact overeenkomen met de opgegeven parameters,\
        \ geretourneerd moeten worden.\n  </li>\n  <li>Bevragen van de uitgebreide\
        \ informatie van één of meer huidige adressen met de identificatie van een\
        \ adresseerbaar object.</li>\n  <li>Bevragen van de uitgebreide informatie\
        \ van één of meer huidige adressen met woonplaats naam, openbare ruimte naam,\
        \ huisnummer en optioneel huisnummertoevoeging en huisletter.\n    Het opgeven\
        \ van een combinatie van parameters levert niet altijd een exacte match met\
        \ één adres, bv. in geval van meerdere objecten met huisnummertoevoegingen\
        \ en/of huisletters. \n    Met de exacteMatch parameter kan worden aangegeven\
        \ dat alleen object(en) die exact overeenkomen met de opgegeven parameters,\
        \ geretourneerd moeten worden.\n  </li>\n</ol>"
      operationId: zoekAdresUitgebreid
      parameters:
      - name: postcode
        in: query
        description: Postcode behorende bij een nummeraanduiding.
        required: false
        style: form
        explode: true
        schema:
          pattern: "^[1-9]{1}[0-9]{3}[a-zA-Z]{2}$"
          type: string
          example: 6922KZ
      - name: huisnummer
        in: query
        description: Huisnummer behorende bij een nummeraanduiding.
        required: false
        style: form
        explode: true
        schema:
          maximum: 99999
          minimum: 1
          type: integer
          example: 1
      - name: huisnummertoevoeging
        in: query
        description: Huisnummertoevoeging behorende bij een nummeraanduiding.
        required: false
        style: form
        explode: true
        schema:
          pattern: "^[0-9a-zA-Z]{1,4}$"
          type: string
          example: bis
      - name: huisletter
        in: query
        description: Huisletter behorende bij een nummeraanduiding.
        required: false
        style: form
        explode: true
        schema:
          pattern: "^[a-zA-Z]{1}$"
          type: string
          example: A
      - name: exacteMatch
        in: query
        description: "\"Een indicatie of de resultaten van een zoekoperatie exact\
          \ overeen moeten komen met de zoekcriteria, zie [functionele specificatie\
          \ exacte match](https://github.com/lvbag/BAG-API/blob/master/Features/exacte_match.feature).\""
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
          default: false
      - name: adresseerbaarObjectIdentificatie
        in: query
        description: Identificatie van een adresseerbaar object uit de BAG.
        required: false
        style: form
        explode: true
        schema:
          title: identificatie van adresseerbaar object
          pattern: "^[0-9]{4}(01|02|03)[0-9]{10}$"
          type: string
          example: "0226010000038820"
      - name: woonplaatsNaam
        in: query
        description: Naam van een woonplaats.
        required: false
        style: form
        explode: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[\\u0020-\\u007E;\\u00A0-\\u00FF;\\u0100-\\u0113;\\u0116-\\u012B;\\\
            u012E-\\u014D;\\u0150-\\u017E;\\u02C7;\\u02D8-\\u02DB;\\u02DD;\\u2015;\\\
            u2018-\\u2019;\\u201C-\\u201D;\\u20AC;\\u2122;\\u2126;\\u215B-\\u215E;\\\
            u2190-\\u2193;\\u266A;]*"
          type: string
          example: Duiven
      - name: openbareRuimteNaam
        in: query
        description: Naam van een openbare ruimte.
        required: false
        style: form
        explode: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[\\u0020-\\u007E;\\u00A0-\\u00FF;\\u0100-\\u0113;\\u0116-\\u012B;\\\
            u012E-\\u014D;\\u0150-\\u017E;\\u02C7;\\u02D8-\\u02DB;\\u02DD;\\u2015;\\\
            u2018-\\u2019;\\u201C-\\u201D;\\u20AC;\\u2122;\\u2126;\\u215B-\\u215E;\\\
            u2190-\\u2193;\\u266A;]*"
          type: string
          example: Laan van de landinrichtingscommissie Duiven-Westervoort
      - name: Accept-Crs
        in: header
        description: Gewenste CRS van de coördinaten in de response.
        required: false
        style: simple
        explode: false
        schema:
          type: string
          description: CRS van de coördinaten in de response.
          enum:
          - epsg:28992
      responses:
        "200":
          description: Bevraging zoekAdresUitgebreid geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresUitgebreidHalCollection'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats_huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            acceptCrs:
              $ref: '#/components/headers/acceptCrs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "412":
          description: Precondition failed.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 412
                title: Niet voldaan aan vooraf gestelde voorwaarde
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - apiKeyBAG: []
  /info:
    get:
      tags:
      - Algemene informatie
      summary: Algemene info van de API
      operationId: getInfo
      responses:
        "200":
          description: Bevraging getInfo geslaagd
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API-info'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - apiKeyBAG: []
  /bronhouders/{identificatie}:
    get:
      tags:
      - Bronhouder
      summary: Bevragen bronhouder met de bronhouder identificatie (gemeentecode).
      description: "Bevragen/raadplegen van een bronhouder met de identificatie van\
        \ een bronhouder (gemeentecode). Als geldigOp en/of beschikbaarOp niet wordt\
        \ opgegeven, worden de actuele gegevens geleverd."
      operationId: bevragenBronhouder
      parameters:
      - name: identificatie
        in: path
        description: "Een officiële code die aan een gemeente is toegekend, ontleend\
          \ is aan tabel 33."
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^[0-9]{4}$"
          type: string
          example: "0226"
      - name: geldigOp
        in: query
        description: "Filtert op objecten die geldig zijn op de opgegeven datum 'YYYY-MM-DD'\
          \ Deze parameters komen uit de API strategie, het hoofdstuk [tijdreizen](https://docs.geostandaarden.nl/api/API-Strategie/#tijdreizen)\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2019-06-01
      - name: beschikbaarOp
        in: query
        description: "Filtert op objecten die beschikbaar zijn op de opgegeven datum\
          \ en tijd `YYYY-MM-DDThh:mm:ss.sss' Hierin kunnen de seconden ':ss' en milliseconden\
          \ '.sss' of alleen de milliseconden conform ISO 8601 specificatie worden\
          \ weggelaten, in dat geval krijgen deze automatisch de waarde ':00' respectievelijk\
          \ '.000'. Indien er voor de milliseconden '.sss' meer dan 3 cijfers worden\
          \ opgegeven, bv. '.12345', dan wordt dit afgekapt tot '.123'. Deze parameters\
          \ komen uit de API strategie, het hoofdstuk [tijdreizen](https://docs.geostandaarden.nl/api/API-Strategie/#tijdreizen)\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      responses:
        "200":
          description: Bevraging bronhouder geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BronhouderHal'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats_huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not found.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                title: Opgevraagde resource bestaat niet.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "405":
          description: Method not allowed.
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 405
                title: Methode niet toegestaan
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.6
                  405 Method Not Allowed
                detail: The method specified in the Request-Line is not allowed for
                  the resource identified by the Request-URI. The response MUST include
                  an Allow header containing a list of valid methods for the requested
[...]
