openapi: 3.0.0
info:
  title: Huidige bevragingen API
  description: Deze API levert actuele gegevens over adressen, adresseerbaar objecten
    en panden. Actueel betekent in deze API `zonder eindstatus`. De bron voor deze
    API is de basisregistratie adressen en gebouwen (BAG).
  termsOfService: https://zakelijk.kadaster.nl/algemene-voorwaarden
  contact:
    name: Kadaster - Beheerder Landelijke Voorziening BAG
    url: https://zakelijk.kadaster.nl/bag
    email: bag@kadaster.nl
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
  version: 1.0.0
servers:
- url: https://api.bag.acceptatie.kadaster.nl/esd/huidigebevragingen/v1
  description: LVBAG - ACCEPTATIE
- url: https://api.bag.kadaster.nl/esd/huidigebevragingen/v1
  description: LVBAG - PRODUCTIE
security:
- apiKeyBAG: []
paths:
  /adressen/zoek:
    get:
      tags:
      - Adres
      summary: '"fuzzy" zoeken van adressen'
      description: Free query zoeken van adressen met postcode, woonplaats, straatnaam,
        huisnummer, huisletter, huisnummertoevoeging. Delen van de adressen in het
        antwoord matchen exact met jouw invoer. Je vindt een adres door de zoekresultaatidentificatie
        uit het antwoord te gebruiken in get/adressen
      operationId: zoek
      parameters:
      - name: zoek
        in: query
        description: Zoekterm op postcode, woonplaats, straatnaam, huisnummer, huisletter,
          huisnummertoevoeging
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: page
        in: query
        description: Pagina nummer
        required: false
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: pageSize
        in: query
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        200:
          description: Zoek adres geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            X-Pagination-Page:
              $ref: '#/components/headers/X_Pagination_Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X_Pagination_Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ZoekResultaatHalCollectie'
        400:
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        401:
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        403:
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        406:
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        500:
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
      security:
      - apiKeyBAG: []
  /adressen:
    get:
      tags:
      - Adres
      summary: vindt adressen
      description: Vind een actueel adres met de identificatie van het zoekresultaat
        uit de operatie get /adressen/zoek, de pandidentificatie of de adresseerbaarobjectidentificatie.
        Gebruik de fields parameter als je alleen specifieke velden in het antwoord
        wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature).
        Gebruik de expand parameter als je het antwoord wil uitbreiden met (delen
        van) de gerelateerde resources nummeraanduiding, woonplaats en openbare ruimte,
        zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature).
      operationId: raadpleegAdressen
      parameters:
      - name: pandIdentificatie
        in: query
        description: Identificatie van een pand uit de BAG. Deze is 16 cijfers lang.
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226100000008856"
      - name: adresseerbaarObjectIdentificatie
        in: query
        description: De identificatie van een adresserbaar object uit de BAG. Dit
          kan een verblijfsobject, een standplaats of een ligplaats zijn.
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226010000038820"
      - name: zoekresultaatIdentificatie
        in: query
        description: De identificatie van een gekozen zoekresultaat uit de zoekResultatenHalCollectie
          verkregen bij een zoek-operatie
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: expand
        in: query
        description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature).
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Pagina nummer
        required: false
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: pageSize
        in: query
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        200:
          description: Bevraging raadpleegAdresMetZoekResultaatIdentificatie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresHalCollectie'
        400:
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        401:
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        403:
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        406:
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        500:
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
      security:
      - apiKeyBAG: []
  /adressen/{nummeraanduidingidentificatie}:
    get:
      tags:
      - Adres
      summary: levert een adres
      description: Raadpleeg een actueel adres met de nummeraanduiding identificatie.
        Gebruik de fields parameter als je alleen specifieke velden in het antwoord
        wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature).
        Gebruik de expand parameter als je het antwoord wil uitbreiden met (delen
        van) de gerelateerde resources nummeraanduiding, woonplaats en openbare ruimte,
        zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature).
      operationId: raadpleegAdresMetNumId
      parameters:
      - name: nummeraanduidingidentificatie
        in: path
        description: Identificatie van een nummeraanduiding uit de BAG. Deze is 16
          cijfers lang.
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226200000038923"
      - name: expand
        in: query
        description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature).
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        required: false
        schema:
          type: string
      responses:
        200:
          description: raadpleegAdresMetNumId geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresHal'
        400:
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        401:
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        403:
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        404:
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        406:
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        500:
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
      security:
      - apiKeyBAG: []
  /adresseerbareobjecten/{adresseerbaarobjectidentificatie}:
    get:
      tags:
      - Adresseerbaar object
      summary: levert een verblijfsobject, standplaats of ligplaats
      description: Raadpleeg een actueel adresseerbaar object met de identificatie.
        Dit is de identificatie van een verblijfsobject, ligplaats of standplaats.
        Gebruik de fields parameter als je alleen specifieke velden in het antwoord
        wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature).
        Gebruik de expand parameter als je het antwoord wil uitbreiden met (delen
        van) de gerelateerde resources adres en pand, zie [functionele specificaties
        expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature).
      operationId: raadpleegAdresseerbaarobject
      parameters:
      - name: adresseerbaarobjectidentificatie
        in: path
        description: De identificatie van een adresserbaar object uit de BAG. Dit
          kan een verblijfsobject, een standplaats of een ligplaats zijn.
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226010000038820"
      - name: expand
        in: query
        description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature).
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        required: false
        schema:
          type: string
      - name: Accept-Crs
        in: header
        description: Gewenste CRS van de coördinaten in de response.
        required: false
        schema:
          type: string
          description: CRS van de coördinaten in de response. epsg:28992 mapt op het
            RD New Nederlands coordinatenstelsel.
          enum:
          - epsg:28992
          default: epsg:28992
      responses:
        200:
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresseerbaarObjectHal'
        400:
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        401:
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        403:
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        404:
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        406:
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        412:
          description: Precondition failed
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                title: Precondition Failed
                status: 412
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        500:
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
      security:
      - apiKeyBAG: []
  /adresseerbareobjecten:
    get:
      tags:
      - Adresseerbaar object
      summary: vindt verblijfsobjecten, ligplaatsen, standplaatsen
      description: Zoek actuele adresseerbaar objecten (verblijfsobjecten, standplaatsen
        of ligplaatsen) met een nummeraanduiding identificatie of pand identificatie.
        Gebruik de fields parameter als je alleen specifieke velden in het antwoord
        wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature).
        Gebruik de expand parameter als je het antwoord wil uitbreiden met (delen
        van) de gerelateerde resources adres en pand, zie [functionele specificaties
        expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature).
      operationId: raadpleegAdresseerbareobjecten
      parameters:
      - name: nummeraanduidingIdentificatie
        in: query
        description: Identificatie van een nummeraanduiding uit de BAG. Deze is 16
          cijfers lang.
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226200000038923"
      - name: pandIdentificatie
        in: query
        description: Identificatie van een pand uit de BAG. Deze is 16 cijfers lang.
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226100000008856"
      - name: expand
        in: query
        description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature).
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        required: false
        schema:
          type: string
      - name: Accept-Crs
        in: header
        description: Gewenste CRS van de coördinaten in de response.
        required: false
        schema:
          type: string
          description: CRS van de coördinaten in de response. epsg:28992 mapt op het
            RD New Nederlands coordinatenstelsel.
          enum:
          - epsg:28992
          default: epsg:28992
      - name: page
        in: query
        description: Pagina nummer
        required: false
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: pageSize
        in: query
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      responses:
        200:
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresseerbaarobjectHalCollectie'
        400:
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        401:
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        403:
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        406:
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        412:
          description: Precondition failed
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                title: Precondition Failed
                status: 412
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        500:
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
      security:
      - apiKeyBAG: []
  /woonplaatsen/{woonplaatsidentificatie}:
    get:
      tags:
      - Adres
      summary: levert BAG details van een woonplaats
      description: Raadpleeg een actuele woonplaats met de identificatie. Een woonplaats
        is een gedeelte van het grondgebied van de gemeente met een naam. Gebruik
        de fields parameter als je alleen specifieke velden in het antwoord wil zien,
        zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature).
        Gebruik de expand parameter als je het antwoord wil uitbreiden met de gerelateerde
        resource geometrie, zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature).
      operationId: raadpleegWoonplaats
      parameters:
      - name: woonplaatsidentificatie
        in: path
        description: Identificatie van een object uit de BAG. Deze is 4 lang bij een
          woonplaats en 16 lang bij de andere objecten.
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^[0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]|[0-9][1-9][0-9]{2}|[1-9][0-9]{3}$
          type: string
          description: 'Deze wordt gebruikt in de operation, bv. /woonplaatsen/0123.
            Waarde: 0001-9999.'
          example: "2096"
      - name: expand
        in: query
        description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature).
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        required: false
        schema:
          type: string
      - name: Accept-Crs
        in: header
        description: Gewenste CRS van de coördinaten in de response.
        required: false
        schema:
          type: string
          description: CRS van de coördinaten in de response. epsg:28992 mapt op het
            RD New Nederlands coordinatenstelsel.
          enum:
          - epsg:28992
          default: epsg:28992
      responses:
        200:
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/WoonplaatsHal'
        400:
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        401:
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        403:
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        404:
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        406:
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        412:
          description: Precondition failed
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                title: Precondition Failed
                status: 412
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        500:
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
      security:
      - apiKeyBAG: []
  /openbareruimten/{openbareruimteidentificatie}:
    get:
      tags:
      - Adres
      summary: levert BAG detals van een openbare ruimte
      description: Raadpleeg een actuele openbare ruimte met de identificatie. Een
        openbare ruimte is een buitenruimte met een naam die binnen één woonplaats
        ligt, bijvoorbeeld een straat of een plein. Gebruik de fields parameter als
        je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties
        fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
      operationId: raadpleegOpenbareRuimte
      parameters:
      - name: openbareruimteidentificatie
        in: path
        description: Identificatie van een object uit de BAG. Deze is 4 lang bij een
          woonplaats en 16 lang bij de andere objecten.
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226300000136166"
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        required: false
        schema:
          type: string
      responses:
        200:
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OpenbareRuimteHalBasis'
        400:
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        401:
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        403:
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        404:
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        500:
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
      security:
      - apiKeyBAG: []
  /nummeraanduidingen/{nummeraanduidingidentificatie}:
    get:
      tags:
      - Adres
      summary: levert BAG details van een nummeraanduiding
      description: Raadpleeg een actuele nummeraanduiding met de identificatie. Een
        nummeraanduiding is een postcode, huisnummer met evt een huisletter en huisnummertoevoeging
        die hoort bij een verblijfsobject, een standplaats of een ligplaats. Gebruik
        de fields parameter als je alleen specifieke velden in het antwoord wil zien,
        zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
      operationId: raadpleegNummeraanduiding
      parameters:
      - name: nummeraanduidingidentificatie
        in: path
        description: Identificatie van een nummeraanduiding uit de BAG. Deze is 16
          cijfers lang.
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226200000038923"
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        required: false
        schema:
          type: string
      responses:
        200:
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NummeraanduidingHalBasis'
        400:
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        401:
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        403:
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        404:
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        500:
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
      security:
      - apiKeyBAG: []
  /panden/{pandidentificatie}:
    get:
      tags:
      - Pand
      summary: levert een pand
      description: Raadpleeg een actueel pand met de identificatie. Een pand is een
        bouwkundige, constructief zelfstandige eenheid die direct en duurzaam met
        de aarde is verbonden en betreedbaar en afsluitbaar is. Gebruik de fields
        parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele
        specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature).
      operationId: raadpleegPand
      parameters:
      - name: pandidentificatie
        in: path
        description: Identificatie van een pand uit de BAG. Deze is 16 cijfers lang.
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226100000008856"
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        required: false
        schema:
          type: string
      - name: Accept-Crs
        in: header
        description: Gewenste CRS van de coördinaten in de response.
        required: false
        schema:
          type: string
          description: CRS van de coördinaten in de response. epsg:28992 mapt op het
            RD New Nederlands coordinatenstelsel.
          enum:
          - epsg:28992
          default: epsg:28992
      responses:
        200:
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PandHalBasis'
        400:
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        401:
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        403:
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        404:
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        406:
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        412:
          description: Precondition failed
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                title: Precondition Failed
                status: 412
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        500:
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
      security:
      - apiKeyBAG: []
  /panden:
    get:
      tags:
      - Pand
      summary: vindt panden
      description: Zoek actuele panden met de identificatie van een adresseerbaar
        object, nummeraanduiding of een locatie. Gebruik de fields parameter als je
        alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties
        fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature).
      operationId: raadpleegPanden
      parameters:
      - name: adresseerbaarObjectIdentificatie
        in: query
        description: De identificatie van een adresserbaar object uit de BAG. Dit
          kan een verblijfsobject, een standplaats of een ligplaats zijn.
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226010000038820"
      - name: nummeraanduidingIdentificatie
        in: query
        description: Identificatie van een nummeraanduiding uit de BAG. Deze is 16
          cijfers lang.
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226200000038923"
      - name: locatie
        in: query
        description: Coordinaten van een locatie die als query-parmeter gebruikt wordt
          om een object te zoeken. Let op, explode is false dus het formaat is ?locatie=194602.722,464154.308
        required: false
        style: form
        explode: false
        schema:
          maxItems: 2
          minItems: 2
          type: array
          example:
          - 196733.51
          - 439931.89
          items:
            type: number
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        required: false
        schema:
          type: string
      - name: Accept-Crs
        in: header
        description: Gewenste CRS van de coördinaten in de response.
        required: false
        schema:
          type: string
          description: CRS van de coördinaten in de response. epsg:28992 mapt op het
            RD New Nederlands coordinatenstelsel.
          enum:
          - epsg:28992
          default: epsg:28992
      - name: Content-Crs
        in: header
        description: CRS van de meegegeven geometrie. epsg:28992 mapt op het RD New
          Nederlands coordinatenstelsel.
        required: false
        schema:
          type: string
          enum:
          - epsg:28992
          default: epsg:28992
      responses:
        200:
          description: Geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PandHalCollectie'
        400:
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        401:
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        403:
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        406:
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        412:
          description: Precondition failed
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                title: Precondition Failed
                status: 412
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        415:
          description: Unsupported Media Type
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.16
                  415 Unsupported Media Type
                title: Unsupported Media Type
                status: 415
                detail: The server is refusing the request because the entity of the
                  request is in a format not supported by the requested resource for
                  the requested method.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: unsupported
        500:
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
      security:
      - apiKeyBAG: []
components:
  schemas:
    ZoekResultaat:
      type: object
      properties:
        omschrijving:
          type: string
          description: Omschrijving van het zoekresultaat
        identificatie:
          type: string
          description: Identificatie van het zoekresultaat
      description: Resultaat van een zoekoperatie dat je kunt gebruiken om een adres
        te vinden met /adressen
    ZoekResultaatHal:
      allOf:
      - $ref: '#/components/schemas/ZoekResultaat'
      - properties:
          _links:
            $ref: '#/components/schemas/ZoekResultaat_links'
    ZoekResultaat_links:
      type: object
      properties:
        adres:
          $ref: '#/components/schemas/HalLink'
    ZoekResultaatHalCollectie:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/HalPaginationLinks'
        _embedded:
          type: object
          properties:
            zoekresultaten:
              type: array
              items:
                $ref: '#/components/schemas/ZoekResultaatHal'
      description: Resultaten als lijst
    Adres:
      type: object
      properties:
        straat:
          title: openbareruimte naam
          type: string
          description: Een naam die door de gemeente aan een openbare ruimte is gegeven.
          example: Laan van de landinrichtingscommissie Duiven-Westervoort
        huisnummer:
          type: integer
          description: Een nummer dat door de gemeente aan een adresseerbaar object
            is gegeven.
          example: 1
        huisletter:
          type: string
          description: Een toevoeging aan een huisnummer in de vorm van een letter
            die door de gemeente aan een adresseerbaar object is gegeven.
          example: A
        huisnummertoevoeging:
          type: string
          description: Een toevoeging aan een huisnummer of een combinatie van huisnummer
            en huisletter die door de gemeente aan een adresseerbaar object is gegeven.
          example: bis
        postcode:
          type: string
          description: De door PostNL vastgestelde code die bij een bepaalde combinatie
            van een straatnaam en een huisnummer hoort.
          example: 6922KZ
        woonplaats:
          title: woonplaats naam
          type: string
          description: Een woonplaats is een gedeelte van het grondgebied van de gemeente
            met een naam.
          example: Duiven
      description: 'Eigenschappen van het adres die kunnen worden hergebruikt in andere
        API''s waarin adresgegevens worden opgenomen. '
    AdresUitgebreid:
      allOf:
      - $ref: '#/components/schemas/Adres'
      - properties:
          korteNaam:
            maxLength: 24
            type: string
            description: De officiële openbareruimtenaam of een verkorte versie. Beiden
              hebben maximaal 24 tekens.
            example: Ln vd l D-Westervoort
          nummeraanduidingIdentificatie:
            type: string
            description: Fungeert ook als identificatie van het adres.
            example: "0226200000038923"
          openbareRuimteIdentificatie:
            type: string
            example: "0226300000136166"
          woonplaatsIdentificatie:
            type: string
            example: "2096"
          adresseerbaarObjectIdentificatie:
            type: string
            example: "0226010000038820"
          pandIdentificaties:
            type: array
            description: Identificatie(s) van het pand of de panden waar het verblijfsobject
              deel van is.
            items:
              type: string
              example: "0226100000008856"
          isNevenadres:
            type: boolean
            description: Indicatie dat dit adres een nevenadres is van een adresseerbaar
              object. Het adres is een hoofdadres als deze indicatie niet wordt meegeleverd.
          geconstateerd:
            type: boolean
            description: Indicatie dat dit adres in de registratie is opgenomen door
              een feitelijke constatering, zonder dat er sprake was van een brondocument/vergunning.
              Het adres is mogelijk illegaal.
          mogelijkOnjuist:
            $ref: '#/components/schemas/AdresMogelijkOnjuist'
        description: Het adres is de benaming van een locatie bestaande uit straatnaam,
          huisnummer, (mogelijk met huisletter, huisnummertoevoeging, postcode) en
          woonplaatsnaam. Dit is de vereenvoudigde samenstelling van de officiële
          naamgeving gebaseerd op woonplaats, openbare ruimte en nummeraanduiding.
    AdresMogelijkOnjuist:
      type: object
      properties:
        korteNaam:
          type: boolean
        straat:
          type: boolean
        huisnummer:
          type: boolean
        huisletter:
          type: boolean
        huisnummertoevoeging:
          type: boolean
        postcode:
          type: boolean
        woonplaats:
          type: boolean
        nummeraanduidingIdentificatie:
          type: boolean
        openbareRuimteIdentificatie:
          type: boolean
        woonplaatsIdentificatie:
          type: boolean
        toelichting:
          type: array
          items:
            type: string
            example: Geometrie of woonplaatsgrens is mogelijk onjuist, waardoor gaten
              of overlappingen ontstaan in de registratie van woonplaatsen. Gevolg
              kan zijn dat een object in een verkeerde woonplaats, in twee woonplaatsen,
              of in geen enkele woonplaats ligt.
      description: Wanneer hier een property is opgenomen met de waarde true, dan
        is de waarde van het gelijknamige property in de resource mogelijk onjuist.
        De juistheid van dit gegeven wordt op dit moment onderzocht. Onder property
        toelichting wordt toegelicht wat er mogelijk onjuist is aan het betreffende
        gegeven.
    AdresHal:
      allOf:
      - $ref: '#/components/schemas/AdresHalBasis'
      - properties:
          _embedded:
            $ref: '#/components/schemas/Adres_embedded'
    AdresHalBasis:
      allOf:
      - $ref: '#/components/schemas/AdresUitgebreid'
      - properties:
          _links:
            $ref: '#/components/schemas/Adres_links'
    AdresHalCollectie:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/HalPaginationLinks'
        _embedded:
          type: object
          properties:
            adressen:
              type: array
              items:
                $ref: '#/components/schemas/AdresHal'
    Adres_links:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/HalLink'
        openbareRuimte:
          $ref: '#/components/schemas/HalLink'
        nummeraanduiding:
          $ref: '#/components/schemas/HalLink'
        woonplaats:
          $ref: '#/components/schemas/HalLink'
        adresseerbaarObject:
          $ref: '#/components/schemas/HalLink'
        panden:
          type: array
          description: Het/de aan het adres gerelateerde pand(en).
          items:
            $ref: '#/components/schemas/HalLink'
    Adres_embedded:
      type: object
      properties:
        openbareRuimte:
          $ref: '#/components/schemas/OpenbareRuimteHalBasis'
        nummeraanduiding:
          $ref: '#/components/schemas/NummeraanduidingHalBasis'
        woonplaats:
          $ref: '#/components/schemas/WoonplaatsHalBasis'
    AdresseerbaarObject:
      type: object
      properties:
        identificatie:
          type: string
          description: Dit is de identificatie van een ligplaats, standplaats of verblijfsobject.
          example: "0226010000038820"
        domein:
          type: string
          description: Het domein waartoe de identificatie behoort.
        type:
          $ref: '#/components/schemas/TypeAdresseerbaarObject_enum'
        documentdatum:
          type: string
          description: De vaststellingsdatum van het brondocument dat de basis is
            voor opname, wijziging of een verwijdering van een object.
          format: date
          example: 2019-11-22
        documentnummer:
          type: string
          description: De unieke aanduiding van het brondocument op basis waarvan
            een opname, mutatie of een verwijdering van gegevens ten aanzien van een
            woonplaats heeft plaatsgevonden, binnen een gemeente. Alle karakters uit
            de MES-1 karakterset zijn toegstaan.
          example: 19SZ2048
        gebruiksdoelen:
          type: array
          items:
            $ref: '#/components/schemas/Gebruiksdoel_enum'
        geconstateerd:
          type: boolean
          description: Indicatie dat een standplaats, ligplaats of verblijfsobject
            in de registratie is opgenomen door een feitelijke constatering, zonder
            dat er een brondocument aan ten grondslag ligt. Het adresseerbaar object
            is mogelijk illegaal.
        geometrie:
          $ref: '#/components/schemas/PuntOfVlak'
        pandIdentificaties:
          type: array
          description: Identificatie(s) van het pand of de panden waar het verblijfsobject
            deel van is.
          items:
            type: string
            example: "0226100000008856"
        nummeraanduidingIdentificaties:
          type: array
          description: Identificatie(s) van de hoofd- en nevenadressen van de standplaats,
            ligplaats of verblijfsobject.
          items:
            $ref: '#/components/schemas/NummeraanduidingIdentificatiesArray'
        oppervlakte:
          type: integer
        status:
          $ref: '#/components/schemas/AdresseerbaarObjectStatus_enum'
        mogelijkOnjuist:
          $ref: '#/components/schemas/AdresseerbaarObjectMogelijkOnjuist'
      description: Een adresseerbaarobject is een standplaats, ligplaats of verblijfsobject.
    AdresseerbaarObjectHal:
      allOf:
      - $ref: '#/components/schemas/AdresseerbaarObjectHalBasis'
      - properties:
          _embedded:
            $ref: '#/components/schemas/AdresseerbaarObject_embedded'
    AdresseerbaarObjectHalBasis:
      allOf:
      - $ref: '#/components/schemas/AdresseerbaarObject'
      - properties:
          _links:
            $ref: '#/components/schemas/AdresseerbaarObject_links'
    AdresseerbaarObjectMogelijkOnjuist:
      type: object
      properties:
        gebruiksdoelen:
          type: boolean
        geometrie:
          type: boolean
        nummeraanduidingIdentificaties:
          type: boolean
        pandIdentificaties:
          type: boolean
        oppervlakte:
          type: boolean
        status:
          type: boolean
        toelichting:
          type: array
          items:
            type: string
            example: Locatie/contour mogelijk onjuist.
      description: Wanneer hier een property is opgenomen met de waarde true, dan
        is de waarde van het gelijknamige property in de resource mogelijk onjuist.
        De juistheid van dit gegeven wordt op dit moment onderzocht. Onder property
        toelichting wordt toegelicht wat er mogelijk onjuist is aan het betreffende
        gegeven.
    AdresseerbaarObject_embedded:
      type: object
      properties:
        adressen:
          type: array
          items:
            $ref: '#/components/schemas/AdresHalBasis'
        panden:
          type: array
          items:
            $ref: '#/components/schemas/PandHalBasis'
    AdresseerbaarObject_links:
      type: object
      properties:
        adressen:
          type: array
          description: Link(s) naar het hoofdadres en waar van toepassing de nebvenadressen
            van het adresseerbaarobject.
          items:
            $ref: '#/components/schemas/HalLink'
        panden:
          type: array
          description: Link(s) naar het pand of de panden waar het adresseerbaar object
            deel van uitmaakt.
          items:
            $ref: '#/components/schemas/HalLink'
        self:
          $ref: '#/components/schemas/HalLink'
    AdresseerbaarobjectHalCollectie:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            adresseerbareObjecten:
              type: array
              items:
                $ref: '#/components/schemas/AdresseerbaarObjectHal'
        _links:
          $ref: '#/components/schemas/HalPaginationLinks'
    AdresseerbaarObjectStatus_enum:
      type: string
      enum:
      - Plaats aangewezen
      - Verblijfsobject gevormd
      - Verblijfsobject in gebruik (niet ingemeten)
      - Verblijfsobject in gebruik
      - Verbouwing verblijfsobject
      - Verblijfsobject buiten gebruik
    Gebruiksdoel_enum:
      type: string
      enum:
      - woonfunctie
      - bijeenkomstfunctie
      - celfunctie
      - gezondheidszorgfunctie
      - industriefunctie
      - kantoorfunctie
      - logiesfunctie
      - onderwijsfunctie
      - sportfunctie
      - winkelfunctie
      - overige gebruiksfunctie
    OpenbareRuimte:
      type: object
      properties:
        identificatie:
          type: string
        domein:
          type: string
          description: Het domein waartoe de identificatie behoort.
        naam:
          title: openbare ruimte naam
          type: string
          description: De naam die door de gemeente aan een openbare ruimte is gegeven.
          example: Laan van de landinrichtingscommissie Duiven-Westervoort
        type:
          $ref: '#/components/schemas/TypeOpenbareRuimte_enum'
        status:
          $ref: '#/components/schemas/StatusNaamgeving_enum'
        korteNaam:
          maxLength: 24
          type: string
[...]
