openapi: 3.0.0
# Server specificatie
servers:
  - description: LVBAG - ACCEPTATIE
    url: https://api.bag.acceptatie.kadaster.nl/esd/huidigebevragingen/v1
  - description: LVBAG - PRODUCTIE
    url: https://api.bag.kadaster.nl/esd/huidigebevragingen/v1

# API specificatie - algemeen
info:
  title: Huidige bevragingen API
  description: "Deze API levert actuele gegevens over adressen, adresseerbaar objecten en panden. Actueel betekent in deze API `zonder eindstatus`. De bron voor deze API is de basisregistratie adressen en gebouwen (BAG)."
  version: "1.0.0"
  # De versie wordt 1.0 als de API naar productie gaat.
  termsOfService: https://zakelijk.kadaster.nl/algemene-voorwaarden
  contact:
    name: Kadaster - Beheerder Landelijke Voorziening BAG
    email: bag@kadaster.nl
    url: https://zakelijk.kadaster.nl/bag
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/

security:
  - apiKeyBAG: []

paths:

  /adressen/zoek:
    get:
      security:
        - apiKeyBAG: []
      operationId: zoek
      tags:
        - Adres
      summary: '"fuzzy" zoeken van adressen'
      description: "Free query zoeken van adressen met postcode, woonplaats, straatnaam, huisnummer, huisletter, huisnummertoevoeging. Delen van de adressen in het antwoord matchen exact met jouw invoer. Je vindt een adres door de zoekresultaatidentificatie uit het antwoord te gebruiken in get/adressen"
      parameters:
        - $ref: '#/components/parameters/zoek'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/page'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/pageSize'
      responses:
        '200':
          description: "Zoek adres geslaagd"
          headers:
            api-version:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version'
            warning:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning'
            X-Pagination-Page:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Pagination_Page'
            X-Pagination-Limit:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Pagination_Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ZoekResultaatHalCollectie'
        '400':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400'
        '401':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401'
        '403':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403'
        '406':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406'
        '500':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500'
        default:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/default'

  /adressen:
    get:
      security:
        - apiKeyBAG: []
      operationId: raadpleegAdressen
      tags:
        - Adres
      summary: "vindt adressen"
      description: "Vind een actueel adres met de identificatie van het zoekresultaat uit de operatie get /adressen/zoek, de pandidentificatie of de adresseerbaarobjectidentificatie. Gebruik de fields parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature). Gebruik de expand parameter als je het antwoord wil uitbreiden met (delen van) de gerelateerde resources nummeraanduiding, woonplaats en openbare ruimte, zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature)."
      parameters:
        - $ref: '#/components/parameters/pandIdentificatie-query'
        - $ref: '#/components/parameters/adresseerbaarObjectIdentificatie-query'
        - $ref: '#/components/parameters/zoekresultaatIdentificatie'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/expand'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/page'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/pageSize'
      responses:
        '200':
          description: "Bevraging raadpleegAdresMetZoekResultaatIdentificatie geslaagd"
          headers:
            api-version:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version'
            warning:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning'
            Content-Crs:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresHalCollectie'
        '400':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400'
        '401':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401'
        '403':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403'
        '406':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406'
        '500':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500'
        default:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/default'

  /adressen/{nummeraanduidingidentificatie}:
    get:
      security:
        - apiKeyBAG: []
      operationId: raadpleegAdresMetNumId
      tags:
        - Adres
      summary: "levert een adres"
      description: "Raadpleeg een actueel adres met de nummeraanduiding identificatie. Gebruik de fields parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature). Gebruik de expand parameter als je het antwoord wil uitbreiden met (delen van) de gerelateerde resources nummeraanduiding, woonplaats en openbare ruimte, zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature)."
      parameters:
        - $ref: '#/components/parameters/nummeraanduidingidentificatie'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/expand'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields'
      responses:
        '200':
          description: "raadpleegAdresMetNumId geslaagd"
          headers:
            api-version:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version'
            warning:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning'
            Content-Crs:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresHal'
        '400':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400'
        '401':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401'
        '403':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403'
        '404':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/404'
        '406':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406'
        '500':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500'
        default:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/default'

  /adresseerbareobjecten/{adresseerbaarobjectidentificatie}:
    get:
      security:
        - apiKeyBAG: []
      operationId: raadpleegAdresseerbaarobject
      tags:
        - Adresseerbaar object
      summary: "levert een verblijfsobject, standplaats of ligplaats"
      description: "Raadpleeg een actueel adresseerbaar object met de identificatie. Dit is de identificatie van een verblijfsobject, ligplaats of standplaats. Gebruik de fields parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature). Gebruik de expand parameter als je het antwoord wil uitbreiden met (delen van) de gerelateerde resources adres en pand, zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature)."
      parameters:
        - $ref: '#/components/parameters/adresseerbaarobjectidentificatie'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/expand'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/acceptCrs'
      responses:
        '200':
          description: "Geslaagd"
          headers:
            api-version:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version'
            warning:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning'
            Content-Crs:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresseerbaarObjectHal'
        '400':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400'
        '401':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401'
        '403':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403'
        '404':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/404'
        '406':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406'
        '412':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/412'
        '500':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500'
        default:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/default'

  /adresseerbareobjecten:
    get:
      security:
        - apiKeyBAG: []
      operationId: raadpleegAdresseerbareobjecten
      tags:
        - Adresseerbaar object
      summary: "vindt verblijfsobjecten, ligplaatsen, standplaatsen"
      description: "Zoek actuele adresseerbaar objecten (verblijfsobjecten, standplaatsen of ligplaatsen) met een nummeraanduiding identificatie of pand identificatie. Gebruik de fields parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature). Gebruik de expand parameter als je het antwoord wil uitbreiden met (delen van) de gerelateerde resources adres en pand, zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature)."
      parameters:
        - $ref: '#/components/parameters/nummeraanduidingIdentificatie-query'
        - $ref: '#/components/parameters/pandIdentificatie-query'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/expand'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/acceptCrs'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/page'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/pageSize'
      responses:
        '200':
          description: "Geslaagd"
          headers:
            api-version:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version'
            warning:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning'
            Content-Crs:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AdresseerbaarobjectHalCollectie'
        '400':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400'
        '401':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401'
        '403':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403'
        '406':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406'
        '412':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/412'
        '500':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500'
        default:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/default'

  /woonplaatsen/{woonplaatsidentificatie}:
    get:
      security:
        - apiKeyBAG: []
      operationId: raadpleegWoonplaats
      tags:
        - Adres
      summary: "levert BAG details van een woonplaats"
      description: "Raadpleeg een actuele woonplaats met de identificatie. Een woonplaats is een gedeelte van het grondgebied van de gemeente met een naam. Gebruik de fields parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature). Gebruik de expand parameter als je het antwoord wil uitbreiden met de gerelateerde resource geometrie, zie [functionele specificaties expand-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature)."
      parameters:
        - $ref: '#/components/parameters/woonplaatsidentificatie'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/expand'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/acceptCrs'
      responses:
        '200':
          description: "Geslaagd"
          headers:
            api-version:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version'
            warning:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning'
            Content-Crs:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/WoonplaatsHal'
        '400':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400'
        '401':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401'
        '403':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403'
        '404':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/404'
        '406':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406'
        '412':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/412'
        '500':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500'
        default:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/default'

  /openbareruimten/{openbareruimteidentificatie}:
    get:
      security:
        - apiKeyBAG: []
      operationId: raadpleegOpenbareRuimte
      tags:
        - Adres
      summary: "levert BAG detals van een openbare ruimte"
      description: "Raadpleeg een actuele openbare ruimte met de identificatie. Een openbare ruimte is een buitenruimte met een naam die binnen één woonplaats ligt, bijvoorbeeld een straat of een plein. Gebruik de fields parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)"
      parameters:
        - $ref: '#/components/parameters/openbareruimteidentificatie'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields'
      responses:
        '200':
          description: "Geslaagd"
          headers:
            api-version:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version'
            warning:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OpenbareRuimteHalBasis'
        '400':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400'
        '401':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401'
        '403':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403'
        '404':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/404'
        '500':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500'
        default:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/default'

  /nummeraanduidingen/{nummeraanduidingidentificatie}:
    get:
      security:
        - apiKeyBAG: []
      operationId: raadpleegNummeraanduiding
      tags:
        - Adres
      summary: "levert BAG details van een nummeraanduiding"
      description: "Raadpleeg een actuele nummeraanduiding met de identificatie. Een nummeraanduiding is een postcode, huisnummer met evt een huisletter en huisnummertoevoeging die hoort bij een verblijfsobject, een standplaats of een ligplaats. Gebruik de fields parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)"
      parameters:
        - $ref: '#/components/parameters/nummeraanduidingidentificatie'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields'
      responses:
        '200':
          description: "Geslaagd"
          headers:
            api-version:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version'
            warning:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NummeraanduidingHalBasis'
        '400':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400'
        '401':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401'
        '403':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403'
        '404':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/404'
        '500':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500'
        default:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/default'

  /panden/{pandidentificatie}:
    get:
      security:
        - apiKeyBAG: []
      operationId: raadpleegPand
      tags:
        - Pand
      summary: "levert een pand"
      description: "Raadpleeg een actueel pand met de identificatie. Een pand is een bouwkundige, constructief zelfstandige eenheid die direct en duurzaam met de aarde is verbonden en betreedbaar en afsluitbaar is. Gebruik de fields parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)."
      parameters:
        - $ref: '#/components/parameters/pandidentificatie'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/acceptCrs'
      responses:
        '200':
          description: "Geslaagd"
          headers:
            api-version:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version'
            warning:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning'
            Content-Crs:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PandHalBasis'
        '400':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400'
        '401':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401'
        '403':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403'
        '404':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/404'
        '406':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406'
        '412':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/412'
        '500':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500'
        default:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/default'

  /panden:
    get:
      security:
        - apiKeyBAG: []
      operationId: raadpleegPanden
      tags:
        - Pand
      summary: "vindt panden"
      description: "Zoek actuele panden met de identificatie van een adresseerbaar object, nummeraanduiding of een locatie. Gebruik de fields parameter als je alleen specifieke velden in het antwoord wil zien, zie [functionele specificaties fields-parameter](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)."
      parameters:
        - $ref: '#/components/parameters/adresseerbaarObjectIdentificatie-query'
        - $ref: '#/components/parameters/nummeraanduidingIdentificatie-query'
        - $ref: '#/components/parameters/locatie-query'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/acceptCrs'
        - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/contentCrs'
      responses:
        '200':
          description: "Geslaagd"
          headers:
            api-version:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version'
            warning:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning'
            Content-Crs:
              $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/contentCrs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PandHalCollectie'
        '400':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400'
        '401':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401'
        '403':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403'
        '406':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406'
        '412':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/412'
        '415':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/415'
        '500':
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500'
        default:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/default'

components:

  securitySchemes:

    apiKeyBAG:
      type: apiKey
      name: X-Api-Key
      in: header
      description: "De API-key die je hebt gekregen dient bij elke request via de `X-Api-Key` request header meegestuurd te worden. Indien deze niet juist wordt meegestuurd, of het een ongeldige key betreft, zul je de foutmelding `403 Forbidden` terugkrijgen."

  parameters:

    # Opsomming van request parameters - ?='...' parameters (by name) - specificatie bij operation zelf.
    zoek:
      description: "Zoekterm op postcode, woonplaats, straatnaam, huisnummer, huisletter, huisnummertoevoeging"
      name: zoek
      in: query
      required: true
      schema:
        type: string

    zoekresultaatIdentificatie:
      description: "De identificatie van een gekozen zoekresultaat uit de zoekResultatenHalCollectie verkregen bij een zoek-operatie"
      name: zoekresultaatIdentificatie
      in: query
      required: false
      schema:
        type: string

    locatie-query:
      description: Coordinaten van een locatie die als query-parmeter gebruikt wordt om een object te zoeken. Let op, explode is false dus het formaat is ?locatie=194602.722,464154.308
      name: locatie
      in: query
      required: false
      explode: false
      schema:
        type: array
        minItems: 2
        maxItems: 2
        items:
          type: number
        example:
        - 196733.510
        - 439931.890

    nummeraanduidingIdentificatie-query:
      description: "Identificatie van een nummeraanduiding uit de BAG. Deze is 16 cijfers lang."
      name: nummeraanduidingIdentificatie
      in: query
      required: false
      schema:
        type: string
        pattern: '^[0-9]{16}$'
        example: '0226200000038923'

    pandIdentificatie-query:
      description: "Identificatie van een pand uit de BAG. Deze is 16 cijfers lang."
      name: pandIdentificatie
      in: query
      required: false
      schema:
        type: string
        pattern: '^[0-9]{16}$'
        example: '0226100000008856'

    adresseerbaarObjectIdentificatie-query:
      description: "De identificatie van een adresserbaar object uit de BAG. Dit kan een verblijfsobject, een standplaats of een ligplaats zijn."
      name: adresseerbaarObjectIdentificatie
      in: query
      required: false
      schema:
        type: string
        pattern: '^[0-9]{16}$'
        example: '0226010000038820'

    # Opsomming van path parameters - /{...} - specificatie bij operation zelf.
    nummeraanduidingidentificatie:
      description: "Identificatie van een nummeraanduiding uit de BAG. Deze is 16 cijfers lang."
      name: nummeraanduidingidentificatie
      in: path
      required: true
      schema:
        type: string
        pattern: '^[0-9]{16}$'
        example: '0226200000038923'

    adresseerbaarobjectidentificatie:
      description: "De identificatie van een adresserbaar object uit de BAG. Dit kan een verblijfsobject, een standplaats of een ligplaats zijn."
      name: adresseerbaarobjectidentificatie
      in: path
      required: true
      schema:
        type: string
        pattern: '^[0-9]{16}$'
        example: '0226010000038820'

    pandidentificatie:
      description: "Identificatie van een pand uit de BAG. Deze is 16 cijfers lang."
      name: pandidentificatie
      in: path
      required: true
      schema:
        type: string
        pattern: '^[0-9]{16}$'
        example: '0226100000008856'

    woonplaatsidentificatie:
      description: "Identificatie van een object uit de BAG. Deze is 4 lang bij een woonplaats en 16 lang bij de andere objecten."
      name: woonplaatsidentificatie
      in: path
      required: true
      schema:
        description: "Deze wordt gebruikt in de operation, bv. /woonplaatsen/0123. Waarde: 0001-9999."
        type: string
        pattern: '^[0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]|[0-9][1-9][0-9]{2}|[1-9][0-9]{3}$'
        example: '2096'

    openbareruimteidentificatie:
      description: "Identificatie van een object uit de BAG. Deze is 4 lang bij een woonplaats en 16 lang bij de andere objecten."
      name: openbareruimteidentificatie
      in: path
      required: true
      schema:
        type: string
        pattern: '^[0-9]{16}$'
        example: '0226300000136166'

  schemas:

    ZoekResultaat:
      type: object
      description: "Resultaat van een zoekoperatie dat je kunt gebruiken om een adres te vinden met /adressen"
      properties:
        omschrijving:
          description: "Omschrijving van het zoekresultaat"
          type: string
        identificatie:
          description: "Identificatie van het zoekresultaat"
          type: string

    ZoekResultaatHal:
      allOf:
        - $ref: '#/components/schemas/ZoekResultaat'
        - properties:
            _links:
              $ref: '#/components/schemas/ZoekResultaat_links'
    ZoekResultaat_links:
      type: object
      properties:
        adres:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
    ZoekResultaatHalCollectie:
      type: object
      description: "Resultaten als lijst"
      properties:
        _links:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalPaginationLinks'
        _embedded:
          type: object
          properties:
            zoekresultaten:
              type: array
              items:
                $ref: '#/components/schemas/ZoekResultaatHal'

    Adres:
      type: object
      description: "Eigenschappen van het adres die kunnen worden hergebruikt in andere API's waarin adresgegevens worden opgenomen. "
      properties:
        straat:
          title: openbareruimte naam
          description: "Een naam die door de gemeente aan een openbare ruimte is gegeven."
          type: string
          example: 'Laan van de landinrichtingscommissie Duiven-Westervoort'
        huisnummer:
          description: "Een nummer dat door de gemeente aan een adresseerbaar object is gegeven."
          type: integer
          example: 1
        huisletter:
          description: "Een toevoeging aan een huisnummer in de vorm van een letter die door de gemeente aan een adresseerbaar object is gegeven."
          type: string
          example: 'A'
        huisnummertoevoeging:
          description: "Een toevoeging aan een huisnummer of een combinatie van huisnummer en huisletter die door de gemeente aan een adresseerbaar object is gegeven."
          type: string
          example: 'bis'
        postcode:
          description: "De door PostNL vastgestelde code die bij een bepaalde combinatie van een straatnaam en een huisnummer hoort."
          type: string
          example: '6922KZ'
        woonplaats:
          description: "Een woonplaats is een gedeelte van het grondgebied van de gemeente met een naam."
          title: woonplaats naam
          type: string
          example: 'Duiven'
    AdresUitgebreid:
      allOf:
      - $ref: "#/components/schemas/Adres"
      - description: "Het adres is de benaming van een locatie bestaande uit straatnaam, huisnummer, (mogelijk met huisletter, huisnummertoevoeging, postcode) en woonplaatsnaam. Dit is de vereenvoudigde samenstelling van de officiële naamgeving gebaseerd op woonplaats, openbare ruimte en nummeraanduiding."
        properties:
          korteNaam:
            description: "De officiële openbareruimtenaam of een verkorte versie. Beiden hebben maximaal 24 tekens."
            type: string
            maxLength: 24
            example: 'Ln vd l D-Westervoort'
          nummeraanduidingIdentificatie:
            type: string
            description: "Fungeert ook als identificatie van het adres."
            example: '0226200000038923'
          openbareRuimteIdentificatie:
            type: string
            example: '0226300000136166'
          woonplaatsIdentificatie:
            type: string
            example: '2096'
          adresseerbaarObjectIdentificatie:
            type: string
            example: '0226010000038820'
          pandIdentificaties:
            description: "Identificatie(s) van het pand of de panden waar het verblijfsobject deel van is."
            type: array
            items:
              type: string
              example: '0226100000008856'
          isNevenadres:
            description: "Indicatie dat dit adres een nevenadres is van een adresseerbaar object. Het adres is een hoofdadres als deze indicatie niet wordt meegeleverd."
            type: boolean
          geconstateerd:
            description: "Indicatie dat dit adres in de registratie is opgenomen door een feitelijke constatering, zonder dat er sprake was van een brondocument/vergunning. Het adres is mogelijk illegaal."
            type: boolean
          mogelijkOnjuist:
            $ref: '#/components/schemas/AdresMogelijkOnjuist'
            description: "Bij het controleren of een property mogelijkOnjuist is kan het zijn dat er meerdere indicaties voor een property opgenomen zijn. In dat geval zijn er meerdere indicaties waarvan de naam begint met de property-naam"
    AdresMogelijkOnjuist:
      type: object
      description: "Wanneer hier een property is opgenomen met de waarde true, dan is de waarde van het gelijknamige property in de resource mogelijk onjuist. De juistheid van dit gegeven wordt op dit moment onderzocht. Onder property toelichting wordt toegelicht wat er mogelijk onjuist is aan het betreffende gegeven."
      properties:
        korteNaam:
          type: boolean
        straat:
          type: boolean
        huisnummer:
          type: boolean
        huisletter:
          type: boolean
        huisnummertoevoeging:
          type: boolean
        postcode:
          type: boolean
        woonplaats:
          type: boolean
        nummeraanduidingIdentificatie:
          type: boolean
        openbareRuimteIdentificatie:
          type: boolean
        woonplaatsIdentificatie:
          type: boolean
        toelichting:
          type: array
          items:
            type: string
            example: "Geometrie of woonplaatsgrens is mogelijk onjuist, waardoor gaten of overlappingen ontstaan in de registratie van woonplaatsen. Gevolg kan zijn dat een object in een verkeerde woonplaats, in twee woonplaatsen, of in geen enkele woonplaats ligt."
    AdresHal:
      allOf:
      - $ref: '#/components/schemas/AdresHalBasis'
      - properties:
          _embedded:
            $ref: '#/components/schemas/Adres_embedded'
    AdresHalBasis:
      allOf:
      - $ref: '#/components/schemas/AdresUitgebreid'
      - properties:
          _links:
            $ref: '#/components/schemas/Adres_links'
    AdresHalCollectie:
      type: object
      properties:
        _links:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalPaginationLinks'
        _embedded:
          properties:
            adressen:
              items:
                $ref: '#/components/schemas/AdresHal'
              type: array
          type: object
    Adres_links:
      type: object
      properties:
        self:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
        openbareRuimte:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
          description: "De aan het adres gerelateerde openbare ruimte."
        nummeraanduiding:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
          description: " De aan het adres gerelateerde nummeraanduiding. Het (boolean) attribuut nevenaders van Adres geeft aan of het hier een hoofd- of nevenadres betreft."
        woonplaats:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
          description: "De aan het adres gerelateerde woonplaats."
        adresseerbaarObject:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
          description: "De aan het adres gerelateerde ligplaats, standplaats of verblijfsobject."
        panden:
          description: "Het/de aan het adres gerelateerde pand(en)."
          type: array
          items:
            $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
    Adres_embedded:
      type: object
      properties:
        openbareRuimte:
          $ref: '#/components/schemas/OpenbareRuimteHalBasis'
        nummeraanduiding:
          $ref: '#/components/schemas/NummeraanduidingHalBasis'
        woonplaats:
          $ref: '#/components/schemas/WoonplaatsHalBasis'

    AdresseerbaarObject:
      type: object
      description: "Een adresseerbaarobject is een standplaats, ligplaats of verblijfsobject."
      properties:
        identificatie:
          description: "Dit is de identificatie van een ligplaats, standplaats of verblijfsobject."
          type: string
          example: "0226010000038820"
        domein:
          type: "string"
          description: "Het domein waartoe de identificatie behoort."
        type:
          $ref: '#/components/schemas/TypeAdresseerbaarObject_enum'
          title: adresseerbaarObjectType
        documentdatum:
          description: "De vaststellingsdatum van het brondocument dat de basis is voor opname, wijziging of een verwijdering van een object."
          example: "2019-11-22"
          format: date
          type: string
        documentnummer:
          description: "De unieke aanduiding van het brondocument op basis waarvan een opname, mutatie of een verwijdering van gegevens ten aanzien van een woonplaats heeft plaatsgevonden, binnen een gemeente. Alle karakters uit de MES-1 karakterset zijn toegstaan."
          example: "19SZ2048"
          type: string
        gebruiksdoelen:
          items:
            $ref: '#/components/schemas/Gebruiksdoel_enum'
          type: array
        geconstateerd:
          description: "Indicatie dat een standplaats, ligplaats of verblijfsobject in de registratie is opgenomen door een feitelijke constatering, zonder dat er een brondocument aan ten grondslag ligt. Het adresseerbaar object is mogelijk illegaal."
          type: boolean
        geometrie:
          $ref: '#/components/schemas/PuntOfVlak'
        pandIdentificaties:
          description: "Identificatie(s) van het pand of de panden waar het verblijfsobject deel van is."
          items:
            type: string
            example: '0226100000008856'
          type: array
        nummeraanduidingIdentificaties:
          description: "Identificatie(s) van de hoofd- en nevenadressen van de standplaats, ligplaats of verblijfsobject."
          items:
            $ref: "#/components/schemas/NummeraanduidingIdentificatiesArray"
          type: array
        oppervlakte:
          type: integer
        status:
          $ref: '#/components/schemas/AdresseerbaarObjectStatus_enum'
        mogelijkOnjuist:
          $ref: '#/components/schemas/AdresseerbaarObjectMogelijkOnjuist'
    AdresseerbaarObjectHal:
      allOf:
      - $ref: '#/components/schemas/AdresseerbaarObjectHalBasis'
      - properties:
          _embedded:
            $ref: '#/components/schemas/AdresseerbaarObject_embedded'
    AdresseerbaarObjectHalBasis:
      allOf:
      - $ref: '#/components/schemas/AdresseerbaarObject'
      - properties:
          _links:
            $ref: '#/components/schemas/AdresseerbaarObject_links'
    AdresseerbaarObjectMogelijkOnjuist:
      type: object
      description: "Wanneer hier een property is opgenomen met de waarde true, dan is de waarde van het gelijknamige property in de resource mogelijk onjuist. De juistheid van dit gegeven wordt op dit moment onderzocht. Onder property toelichting wordt toegelicht wat er mogelijk onjuist is aan het betreffende gegeven."
      properties:
        gebruiksdoelen:
          type: boolean
        geometrie:
          type: boolean
        nummeraanduidingIdentificaties:
          type: boolean
        pandIdentificaties:
          type: boolean
        oppervlakte:
          type: boolean
        status:
          type: boolean
        toelichting:
          type: array
          items:
            type: string
            example: "Locatie/contour mogelijk onjuist."
    AdresseerbaarObject_embedded:
      type: object
      properties:
        adressen:
          type: "array"
          items:
            $ref: '#/components/schemas/AdresHalBasis'
        panden:
          type: "array"
          items:
            $ref: '#/components/schemas/PandHalBasis'
    AdresseerbaarObject_links:
      type: object
      properties:
        adressen:
          description: "Link(s) naar het hoofdadres en waar van toepassing de nebvenadressen van het adresseerbaarobject."
          items:
            $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
          type: array
        panden:
          description: "Link(s) naar het pand of de panden waar het adresseerbaar object deel van uitmaakt."
          items:
            $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
          type: array
        self:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
    AdresseerbaarobjectHalCollectie:
      type: object
      properties:
        _embedded:
          properties:
            adresseerbareObjecten:
              items:
                $ref: '#/components/schemas/AdresseerbaarObjectHal'
              type: array
          type: object
        _links:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalPaginationLinks'
    AdresseerbaarObjectStatus_enum:
      type: string
      enum:
        # Ligplaats / standplaats huidige statussen
        - 'Plaats aangewezen'
        # Verblijfsobject huidige statussen
        - 'Verblijfsobject gevormd'
        - 'Verblijfsobject in gebruik (niet ingemeten)'
        - 'Verblijfsobject in gebruik'
        - 'Verbouwing verblijfsobject'
        - 'Verblijfsobject buiten gebruik'
    Gebruiksdoel_enum:
      type: string
      enum:
        - 'woonfunctie'
        - 'bijeenkomstfunctie'
        - 'celfunctie'
        - 'gezondheidszorgfunctie'
        - 'industriefunctie'
        - 'kantoorfunctie'
        - 'logiesfunctie'
        - 'onderwijsfunctie'
        - 'sportfunctie'
        - 'winkelfunctie'
        - 'overige gebruiksfunctie'

    OpenbareRuimte:
      type: object
      description: "Een buitenruimte met een naam die binnen één woonplaats ligt, bijvoorbeeld een straat of een plein."
      properties:
        identificatie:
          type: string
        domein:
          type: "string"
          description: "Het domein waartoe de identificatie behoort."
        naam:
          title: openbare ruimte naam
          description: "De naam die door de gemeente aan een openbare ruimte is gegeven."
          type: string
          example: 'Laan van de landinrichtingscommissie Duiven-Westervoort'
        type:
          $ref: '#/components/schemas/TypeOpenbareRuimte_enum'
        status:
          $ref: '#/components/schemas/StatusNaamgeving_enum'
        korteNaam:
          description: "De officiële openbareruimtenaam of een verkorte versie. Beiden hebben maximaal 24 tekens."
          type: string
          maxLength: 24
          example: 'Ln vd l D-Westervoort'
        geconstateerd:
          description: "Indicator dat een openbare ruimte in de registratie is opgenomen door een feitelijke constatering, zonder dat er een brondocument aan ten grondslag ligt. De openbare ruimte is mogelijk illegaal."
          type: boolean
        documentdatum:
          description: "De vaststellingsdatum van het brondocument dat de basis is voor opname, wijziging of een verwijdering van een object."
          type: string
          format: date
          example: '2010-02-09'
        documentnummer:
          description: "De unieke aanduiding van het brondocument op basis waarvan een opname, mutatie of een verwijdering van gegevens ten aanzien van een woonplaats heeft plaatsgevonden, binnen een gemeente. Alle karakters uit de MES-1 karakterset zijn toegstaan."
          type: string
          example: 'BAG-21'
        woonplaatsIdentificatie:
          type: string
          description: "Een openbare ruimte ligt in een woonplaats."
          example: '2096'
        mogelijkOnjuist:
          $ref: '#/components/schemas/OpenbareRuimteMogelijkOnjuist'
    OpenbareRuimteMogelijkOnjuist:
        type: object
        description: "De waarde is mogelijk onjuist. De juistheid van dit gegeven wordt op dit moment onderzocht (zie toelichting)."
        properties:
          naam:
            type: boolean
          korteNaam:
            type: boolean
          type:
            type: boolean
          status:
            type: boolean
          woonplaatsIdentificatie:
            type: boolean
          toelichting:
            type: array
            items:
              type: string
              example: "Openbare ruimtenaam komt mogelijk niet overeen met de vermelding in het straatnaambesluit."
    OpenbareRuimteHalBasis:
      allOf:
      - $ref: '#/components/schemas/OpenbareRuimte'
      - properties:
          _links:
            $ref: '#/components/schemas/OpenbareRuimte_links'

    OpenbareRuimte_links:
      type: object
      properties:
        self:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
        woonplaats:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
          description: "De aan de openbare ruimte gerelateerde woonplaats (link)."

    Nummeraanduiding:
      type: object
      description: "Een postcode, huisnummer met mogelijk een huisletter en huisnummertoevoeging die hoort bij een verblijfsobject, een standplaats of een ligplaats."
      properties:
        identificatie:
          type: string
        domein:
          type: "string"
          description: "Het domein waartoe de identificatie behoort."
        huisnummer:
          description: "Nummer dat door de gemeente aan een adresseerbaar object is gegeven."
          type: integer
          example: 1
        huisletter:
          description: "Toevoeging aan een huisnummer in de vorm van een letter die door de gemeente aan een adresseerbaar object is gegeven."
          type: string
          example: 'A'
        huisnummertoevoeging:
          description: "Toevoeging aan een huisnummer of een combinatie van huisnummer en huisletter die door de gemeente aan een adresseerbaar object is gegeven."
          type: string
          example: 'bis'
        postcode:
          description: "Door PostNL vastgestelde code die bij een bepaalde combinatie van een straatnaam en een huisnummer hoort."
          type: string
          example: '6922KZ'
        status:
          $ref: '#/components/schemas/StatusNaamgeving_enum'
        geconstateerd:
          description: "Indicator dat de nummeraanduiding in de registratie is opgenomen door een feitelijke constatering, zonder dat er sprake was van een brondocument/vergunning. De nummeraanduiding is mogelijk illegaal."
          type: boolean
        documentdatum:
          description: "De vaststellingsdatum van het brondocument dat de basis is voor opname, wijziging of een verwijdering van een object."
          type: string
          format: date
          example: '2019-11-25'
        documentnummer:
          description: "Identificatie van het brondocument dat ten grondslag ligt aan de opname, mutatie of een verwijdering van gegevens."
          type: string
          example: 'Duiven 25112019'
        woonplaatsIdentificatie:
          type: string
          description: "Een nummeraanduiding ligt in een woonplaats."
          example: '2096'
        openbareRuimteIdentificatie:
          type: string
          description: "Een nummeraanduiding ligt aan een openbare ruimte."
          example: '0226300000136166'
        mogelijkOnjuist:
          $ref: '#/components/schemas/NummeraanduidingMogelijkOnjuist'
    NummeraanduidingIdentificatiesArray:
      type: object
      properties:
        nummeraanduidingIdentificatie:
          type: string
          example: '0226200000038923'
        isNevenadres:
          type: boolean
    NummeraanduidingMogelijkOnjuist:
        type: object
        description: "De waarde is mogelijk onjuist. De juistheid van dit gegeven wordt op dit moment onderzocht (zie toelichting)."
        properties:
          huisnummer:
            type: boolean
          huisletter:
            type: boolean
          huisnummertoevoeging:
            type: boolean
          postcode:
            type: boolean
          status:
            type: boolean
          woonplaatsIdentificatie:
            type: boolean
          openbareRuimteIdentificatie:
            type: boolean
          toelichting:
            type: array
            items:
              type: string
              example: "Woonplaats bestaat mogelijk niet."
    NummeraanduidingHalBasis:
      allOf:
      - $ref: '#/components/schemas/Nummeraanduiding'
      - properties:
          _links:
            $ref: '#/components/schemas/Nummeraanduiding_links'

    Nummeraanduiding_links:
      type: object
      properties:
        self:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
        adres:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
          description: "Het aan de nummeraanduiding gerelateerde adres (link)."
        openbareRuimte:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
          description: "De aan de nummeraanduiding gerelateerde openbareruimte (link)."
        woonplaats:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
          description: "De aan het openbareruimte gerelateerde woonplaats (link)."

    Woonplaats:
      type: object
      description: "Een woonplaats is een gedeelte van het grondgebied van de gemeente met een naam."
      properties:
        identificatie:
          type: string
        domein:
          type: "string"
          description: "Het domein waartoe de identificatie behoort."
        naam:
          description: "De naam van de woonplaats."
          type: string
          example: 'Duiven'
        status:
          $ref: '#/components/schemas/StatusWoonplaats_enum'
          description: "De fase van de levenscyclus van een woonplaats, waarin de betreffende woonplaats zich bevindt."
        geconstateerd:
          description: "Indicator dat de woonplaats in de registratie is opgenomen door een feitelijke constatering, zonder dat er een brondocument aan ten grondslag ligt. De woonplaats is mogelijk illegaal."
          type: boolean
        documentdatum:
          description: "De vaststellingsdatum van het brondocument dat de basis is voor opname, wijziging of een verwijdering van een object."
          type: string
          format: date
          example: '2009-02-09'
        documentnummer:
          description: "De unieke aanduiding van het brondocument op basis waarvan een opname, mutatie of een verwijdering van gegevens ten aanzien van een woonplaats heeft plaatsgevonden, binnen een gemeente. Alle karakters uit de MES-1 karakterset zijn toegstaan."
          type: string
          example: '09.0898'
        mogelijkOnjuist:
          $ref: "#/components/schemas/WoonplaatsMogelijkOnjuist"
    WoonplaatsMogelijkOnjuist:
      type: object
      description: "Wanneer hier een property is opgenomen met de waarde true, dan is de waarde van het gelijknamige property in de resource mogelijk onjuist. De juistheid van dit gegeven wordt op dit moment onderzocht. Onder property toelichting wordt toegelicht wat er mogelijk onjuist is aan het betreffende gegeven. Wanneer property geometrie is opgenomen met de waarde true, dan is de embedded geometrie mogelijk onjuist."
      properties:
        naam:
          type: boolean
        geometrie:
          type: boolean
        status:
          type: boolean
        toelichting:
          type: array
          items:
            type: string
            example: "Woonplaats bestaat mogelijk niet."
    WoonplaatsHalBasis:
      allOf:
        - $ref: '#/components/schemas/Woonplaats'
        - properties:
            _links:
              $ref: '#/components/schemas/Woonplaats_links'
    WoonplaatsHal:
      allOf:
        - $ref: '#/components/schemas/WoonplaatsHalBasis'
        - properties:
            _embedded:
              $ref: '#/components/schemas/Woonplaats_embedded'
    Woonplaats_links:
      type: object
      properties:
        self:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'

    Woonplaats_embedded:
      type: object
      properties:
        geometrie:
          $ref: '#/components/schemas/VlakOfMultivlak'

    Pand:
      type: object
      description: "Een pand is een bouwkundige, constructief zelfstandige eenheid die direct en duurzaam met de aarde is verbonden en betreedbaar en afsluitbaar is."
      properties:
        identificatie:
          type: string
          description: "De unieke aanduiding van een pand. Elk pand waarvan gegevens zijn opgenomen in de BAG wordt uniek aangeduid door middel van een identificatiecode."
        domein:
          type: "string"
          description: "Het domein waartoe de identificatie behoort."
        geometrie:
          $ref: 'http://schemas.opengis.net/ogcapi/features/part1/1.0/openapi/schemas/polygonGeoJSON.yaml'
          description: "De minimaal tweedimensionale geometrische representatie van het bovenzicht van de omtrekken van een pand."
        oorspronkelijkBouwjaar:
          description: "Het jaar waarin een pand oorspronkelijk als bouwkundig gereed is wordt opgeleverd. Door de gemeente wordt een inschatting gemaakt van het bouwjaar, en aangepast als het pand wordt opgeleverd. Wijzigingen aan een pand na oplevering leiden niet tot wijziging van het bouwjaar."
          type: integer
          example: 1991
        status:
          $ref: '#/components/schemas/StatusPand_enum'
          description: "Een codering van de verschillende waarden die de status van een pand kan aannemen."
        geconstateerd:
          description: "Indicatie dat het pand in de registratie is opgenomen door een feitelijke constatering, zonder dat er sprake was van een brondocument/vergunning. Het pand is mogelijk illegaal."
          type: boolean
        documentdatum:
          description: "De vaststellingsdatum van het brondocument dat de basis is voor opname, wijziging of een verwijdering van een object."
          type: string
          format: date
          example: '2009-05-12'
        documentnummer:
          description: "De unieke aanduiding van het brondocument op basis waarvan een opname, mutatie of een verwijdering van gegevens ten aanzien van een woonplaats heeft plaatsgevonden, binnen een gemeente. Alle karakters uit de MES-1 karakterset zijn toegstaan."
          type: string
          example: '09.BW.0273'
        adresseerbaarObjectIdentificaties:
          type: array
          items:
            type: string
            example: '0226010000038820'
        nummeraanduidingIdentificaties:
          description: "Identificatie(s) van de hoofd- en nevenadressen van het pand."
          items:
            $ref: "#/components/schemas/NummeraanduidingIdentificatiesArray"
          type: array
        mogelijkOnjuist:
          $ref: '#/components/schemas/PandMogelijkOnjuist'
    PandMogelijkOnjuist:
      type: object
      description: "De juistheid van dit gegeven wordt op dit moment onderzocht (zie toelichting)."
      properties:
        geometrie:
          type: boolean
        oorspronkelijkBouwjaar:
          type: boolean
        status:
          type: boolean
        toelichting:
          type: array
          items:
            type: string
            example: "Mogelijk is de bouw al gereed of is het pand niet gerealiseerd."
    PandHalBasis:
      allOf:
        - $ref: '#/components/schemas/Pand'
        - properties:
            _links:
              $ref: '#/components/schemas/Pand_links'

    Pand_links:
      type: object
      properties:
        self:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
        adressen:
          type: array
          items:
            $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'
        adresseerbareObjecten:
          type: array
          items:
            $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink'

    PandHalCollectie:
      type: object
      properties:
        _links:
          $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks'
        _embedded:
          type: object
          properties:
            panden:
              type: array
              items:
                $ref: '#/components/schemas/PandHalBasis'
    StatusNaamgeving_enum:
      description: "Een aanduiding van alle waarden die de status van een openbare ruimte of een nummeraanduiding kan aannemen."
      type: string
      enum:
        - 'Naamgeving uitgegeven'
    StatusPand_enum:
      description: "Een codering van de verschillende waarden die de status van een pand kan aannemen."
      type: string
      enum:
        - 'Bouwvergunning verleend'
        - 'Bouw gestart'
        - 'Pand in gebruik (niet ingemeten)'
        - 'Pand in gebruik'
        - 'Verbouwing pand'
        - 'Sloopvergunning verleend'
        - 'Pand buiten gebruik'
    StatusWoonplaats_enum:
      description: "Een aanduiding van alle waarden die de status van een woonplaats kan aannemen."
      type: string
      enum:
        - 'Woonplaats aangewezen'
    TypeAdresseerbaarObject_enum:
      type: string
      enum:
        - 'verblijfsobject'
        - 'standplaats'
        - 'ligplaats'
    TypeOpenbareRuimte_enum:
      description: "Een codering van de verschillende waarden die de typering van een openbare ruimte kan aannemen."
      type: string
      enum:
        - 'Weg'
        - 'Water'
        - 'Spoorbaan'
        - 'Terrein'
        - 'Kunstwerk'
        - 'Landschappelijk gebied'
        - 'Administratief gebied'

    PuntOfVlak:
      type: object
      description: "Een samengesteld geometriegegevenstype waarbij wordt afgedwongen dat voor de geometrie een keuze gemaakt moet worden tussen een punt of een vlak."
      properties:
        punt:
          $ref: 'http://schemas.opengis.net/ogcapi/features/part1/1.0/openapi/schemas/pointGeoJSON.yaml'
        vlak:
          $ref: 'http://schemas.opengis.net/ogcapi/features/part1/1.0/openapi/schemas/polygonGeoJSON.yaml'
    VlakOfMultivlak:
      type: object
      description: "Een samengesteld geometriegegevenstype waarbij wordt afgedwongen dat voor de geometrie een keuze gemaakt moet worden tussen een vlak (GM_Surface) of een multivlak (GM_MultiSurface)."
      properties:
        vlak:
          $ref: 'http://schemas.opengis.net/ogcapi/features/part1/1.0/openapi/schemas/polygonGeoJSON.yaml'
        multivlak:
          $ref: 'http://schemas.opengis.net/ogcapi/features/part1/1.0/openapi/schemas/multipolygonGeoJSON.yaml'
